# Individual Final Project  (WAHI)

In [3]:
## importing libraries
import pandas as pd
import numpy as np
import seaborn as sns
import statsmodels.formula.api as sm
import scipy.stats as stats

from matplotlib import pyplot as plt
%matplotlib inline

from sklearn.cluster import KMeans

from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split

In [4]:
 ## show all the columns in dataset
pd.set_option('display.max_columns', None)

In [75]:
## show all rows in dataset
pd.set_option('display.max_rows', None)

In [6]:
# import dataset
df = pd.read_csv("DC_Properties.csv")

C:\Users\liket\AppData\Local\Temp\ipykernel_1316\977824033.py:2: DtypeWarning: Columns (18,19,20,21,22,23,24,33,34,35,37,43,45) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("DC_Properties.csv")

In [7]:
df.head()

,Unnamed: 0,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,EYB,STORIES,SALEDATE,PRICE,QUALIFIED,SALE_NUM,GBA,BLDG_NUM,STYLE,STRUCT,GRADE,CNDTN,EXTWALL,ROOF,INTWALL,KITCHENS,FIREPLACES,USECODE,LANDAREA,GIS_LAST_MOD_DTTM,SOURCE,CMPLX_NUM,LIVING_GBA,FULLADDRESS,CITY,STATE,ZIPCODE,NATIONALGRID,LATITUDE,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT
0,0,4,0,Warm Cool,Y,2.0,8,4,1910.0,1988.0,1972,3.0,2003-11-25 00:00:00,1095000.0,Q,1,2522.0,1,3 Story,Row Inside,Very Good,Good,Common Brick,Metal- Sms,Hardwood,2.0,5,24,1680,2018-07-22 18:01:43,Residential,NaN,NaN,1748 SWANN STREET NW,WASHINGTON,DC,20009.0,18S UJ 23061 09289,38.914680,-77.040832,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
1,1,3,1,Warm Cool,Y,2.0,11,5,1898.0,2007.0,1972,3.0,2000-08-17 00:00:00,NaN,U,1,2567.0,1,3 Story,Row Inside,Very Good,Good,Common Brick,Built Up,Hardwood,2.0,4,24,1680,2018-07-22 18:01:43,Residential,NaN,NaN,1746 SWANN STREET NW,WASHINGTON,DC,20009.0,18S UJ 23067 09289,38.914683,-77.040764,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
2,2,3,1,Hot Water Rad,Y,2.0,9,5,1910.0,2009.0,1984,3.0,2016-06-21 00:00:00,2100000.0,Q,3,2522.0,1,3 Story,Row Inside,Very Good,Very Good,Common Brick,Built Up,Hardwood,2.0,4,24,1680,2018-07-22 18:01:43,Residential,NaN,NaN,1744 SWANN STREET NW,WASHINGTON,DC,20009.0,18S UJ 23074 09289,38.914684,-77.040678,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
3,3,3,1,Hot Water Rad,Y,2.0,8,5,1900.0,2003.0,1984,3.0,2006-07-12 00:00:00,1602000.0,Q,1,2484.0,1,3 Story,Row Inside,Very Good,Good,Common Brick,Built Up,Hardwood,2.0,3,24,1680,2018-07-22 18:01:43,Residential,NaN,NaN,1742 SWANN STREET NW,WASHINGTON,DC,20009.0,18S UJ 23078 09288,38.914683,-77.040629,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
4,4,2,1,Warm Cool,Y,1.0,11,3,1913.0,2012.0,1985,3.0,NaN,NaN,U,1,5255.0,1,3 Story,Semi-Detached,Very Good,Good,Common Brick,Neopren,Hardwood,1.0,0,13,2032,2018-07-22 18:01:43,Residential,NaN,NaN,1804 NEW HAMPSHIRE AVENUE NW,WASHINGTON,DC,20009.0,18S UJ 23188 09253,38.914383,-77.039361,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158957 entries, 0 to 158956
Data columns (total 49 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Unnamed: 0          158957 non-null  int64
 1   BATHRM              158957 non-null  int64
 2   HF_BATHRM           158957 non-null  int64
 3   HEAT                158957 non-null  object
 4   AC                  158957 non-null  object
 5   NUM_UNITS           106696 non-null  float64
 6   ROOMS               158957 non-null  int64
 7   BEDRM               158957 non-null  int64
 8   AYB                 158686 non-null  float64
 9   YR_RMDL             80928 non-null   float64
 10  EYB                 158957 non-null  int64
 11  STORIES             106652 non-null  float64
 12  SALEDATE            132187 non-null  object
 13  PRICE               98216 non-null   float64
 14  QUALIFIED           158957 non-null  object
 15  SALE_NUM            158957 non-null  int64
 16  GBA                 106696 non-null  float64
 17  BLDG_NUM            158957 non-null  int64
 18  STYLE               106696 non-null  object
 19  STRUCT              106696 non-null  object
 20  GRADE               106696 non-null  object
 21  CNDTN               106696 non-null  object
 22  EXTWALL             106696 non-null  object
 23  ROOF                106696 non-null  object
 24  INTWALL             106696 non-null  object
 25  KITCHENS            106695 non-null  float64
 26  FIREPLACES          158957 non-null  int64
 27  USECODE             158957 non-null  int64
 28  LANDAREA            158957 non-null  int64
 29  GIS_LAST_MOD_DTTM   158957 non-null  object
 30  SOURCE              158957 non-null  object
 31  CMPLX_NUM           52261 non-null   float64
 32  LIVING_GBA          52261 non-null   float64
 33  FULLADDRESS         106040 non-null  object
 34  CITY                106051 non-null  object
 35  STATE               106051 non-null  object
 36  ZIPCODE             158956 non-null  float64
 37  NATIONALGRID        106051 non-null  object
 38  LATITUDE            158956 non-null  float64
 39  LONGITUDE           158956 non-null  float64
 40  ASSESSMENT_NBHD     158956 non-null  object
 41  ASSESSMENT_SUBNBHD  126406 non-null  object
 42  CENSUS_TRACT        158956 non-null  float64
 43  CENSUS_BLOCK        106051 non-null  object
 44  WARD                158956 non-null  object
 45  SQUARE              158957 non-null  object
 46  X                   158720 non-null  float64
 47  Y                   158720 non-null  float64
 48  QUADRANT            158720 non-null  object
dtypes: float64(15), int64(11), object(23)
memory usage: 59.4+ MB

## 1. Feature Engineering

In [9]:
df["AC"].value_counts()

Y    114620
N     44272
0        65
Name: AC, dtype: int64

In [10]:
df["AC1"] = np.where(df["AC"]=="Y", 1, 0)
df['AC1'].value_counts()

1    114620
0     44337
Name: AC1, dtype: int64

In [11]:
df.drop(columns = "AC", inplace = True)

In [12]:
df["QUALIFIED"].value_counts()

U    82608
Q    76349
Name: QUALIFIED, dtype: int64

In [13]:
df["QUALIFIED1"] = np.where(df["QUALIFIED"] == "Q", 1, 0)
df["QUALIFIED1"].value_counts()

0    82608
1    76349
Name: QUALIFIED1, dtype: int64

In [14]:
df["GRADE"].value_counts()

Average          37357
Above Average    32101
Good Quality     20800
Very Good         8976
Excellent         3390
Superior          2634
Exceptional-A      818
Exceptional-B      278
Fair Quality       150
Exceptional-C       92
Exceptional-D       75
No Data             19
Low Quality          6
Name: GRADE, dtype: int64

In [15]:
# understanding ordinal values of "GRADE"
pd.crosstab(df["CNDTN"], df["GRADE"])

GRADE,Above Average,Average,Excellent,Exceptional-A,Exceptional-B,Exceptional-C,Exceptional-D,Fair Quality,Good Quality,Low Quality,No Data,Superior,Very Good
CNDTN,,,,,,,,,,,,,
Average,17894,25783,1072,188,24,3,1,102,9180,0,0,859,3111
Default,0,1,0,0,0,0,0,0,0,0,18,0,0
Excellent,514,8,122,55,36,12,43,0,146,0,0,127,275
Fair,370,621,45,0,0,1,0,19,181,0,0,15,68
Good,10960,9227,1699,349,94,28,7,23,9265,0,1,1214,4630
Poor,39,106,3,0,0,0,0,6,12,6,0,1,2
Very Good,2324,1611,449,226,124,48,24,0,2016,0,0,418,890

In [16]:
def grade_type(ans):
    if ans == "Exceptional-A":
        return 13
    if ans == "Exceptional-B":
        return 12
    if ans == "Exceptional-C":
        return 11
    if ans == "Exceptional-D":
        return 10
    if ans == "Superior":
        return 9
    if ans == "Excellent":
        return 8
    if ans == "Very Good":
        return 7
    if ans == "Above Average":
        return 6
    if ans == "Average":
        return 5
    if ans == "Good Quality":
        return 4
    if ans == "Fair Quality":
        return 3
    if ans == "Low Quality":
        return 2
    if ans == "No Data":
        return 1

df['GRADE1'] = df["GRADE"].apply(grade_type)
df["GRADE1"].value_counts()

5.0     37357
6.0     32101
4.0     20800
7.0      8976
8.0      3390
9.0      2634
13.0      818
12.0      278
3.0       150
11.0       92
10.0       75
1.0        19
2.0         6
Name: GRADE1, dtype: int64

In [17]:
def cond_type(ans):
    if ans == "Excellent":
        return 7
    if ans == "Very Good":
        return 6
    if ans == "Average":
        return 5
    if ans == "Good":
        return 4
    if ans == "Fair":
        return 3
    if ans == "Poor":
        return 2
    if ans == "Default":
        return 1

df['CNDTN1'] = df["CNDTN"].apply(cond_type)
df["CNDTN1"].value_counts()

5.0    58217
4.0    37497
6.0     8130
7.0     1338
3.0     1320
2.0      175
1.0       19
Name: CNDTN1, dtype: int64

In [18]:
# verifying that values align as previously
pd.crosstab(df["CNDTN1"], df["GRADE1"])

GRADE1,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0,12.0,13.0
CNDTN1,,,,,,,,,,,,,
1.0,18,0,0,0,1,0,0,0,0,0,0,0,0
2.0,0,6,6,12,106,39,2,3,1,0,0,0,0
3.0,0,0,19,181,621,370,68,45,15,0,1,0,0
4.0,1,0,23,9265,9227,10960,4630,1699,1214,7,28,94,349
5.0,0,0,102,9180,25783,17894,3111,1072,859,1,3,24,188
6.0,0,0,0,2016,1611,2324,890,449,418,24,48,124,226
7.0,0,0,0,146,8,514,275,122,127,43,12,36,55

In [19]:
df["WARD"].value_counts()

Ward 6    23973
Ward 3    23688
Ward 4    22202
Ward 2    22167
Ward 5    21359
Ward 1    17455
Ward 7    17206
Ward 8    10906
Name: WARD, dtype: int64

In [20]:
def ward_num(ans):
    if ans == "Ward 8":
        return 8
    if ans == "Ward 7":
        return 7
    if ans == "Ward 6":
        return 6
    if ans == "Ward 5":
        return 5
    if ans == "Ward 4":
        return 4
    if ans == "Ward 3":
        return 3
    if ans == "Ward 2":
        return 2
    if ans == "Ward 1":
        return 1
    
df['WARD1'] = df["WARD"].apply(ward_num)
df["WARD1"].value_counts()

6.0    23973
3.0    23688
4.0    22202
2.0    22167
5.0    21359
1.0    17455
7.0    17206
8.0    10906
Name: WARD1, dtype: int64

In [21]:
df.describe()

,Unnamed: 0,BATHRM,HF_BATHRM,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,EYB,STORIES,PRICE,SALE_NUM,GBA,BLDG_NUM,KITCHENS,FIREPLACES,USECODE,LANDAREA,CMPLX_NUM,LIVING_GBA,ZIPCODE,LATITUDE,LONGITUDE,CENSUS_TRACT,X,Y,AC1,QUALIFIED1,GRADE1,CNDTN1,WARD1
count,158957.000000,158957.000000,158957.000000,106696.000000,158957.000000,158957.000000,158686.000000,80928.000000,158957.000000,106652.000000,9.821600e+04,158957.000000,106696.000000,158957.000000,106695.000000,158957.000000,158957.000000,158957.000000,52261.000000,52261.000000,158956.000000,158956.000000,158956.000000,158956.000000,158720.000000,158720.000000,158957.000000,158957.000000,106696.000000,106696.000000,158956.000000
mean,79478.000000,1.810678,0.458237,1.198039,6.187736,2.732506,1941.987579,1998.243537,1963.718024,2.091793,9.313516e+05,1.680033,1714.539889,1.000598,1.219251,2.374674,14.252999,2473.282158,2371.544249,888.834542,20012.694563,38.914854,-77.016676,5348.216324,-77.016712,38.914846,0.721076,0.480312,5.552804,4.719465,4.277813
std,45887.077707,0.976396,0.587571,0.596924,2.618165,1.358864,33.640234,16.575786,24.923150,2.933323,7.061325e+06,1.285898,880.677860,0.031622,0.621170,737.295595,3.725736,5059.046023,1114.272364,420.185822,15.627084,0.031723,0.040938,3369.645953,0.040933,0.031682,0.448472,0.499614,1.372449,0.682787,2.104178
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1754.000000,20.000000,1800.000000,0.000000,1.000000e+00,1.000000,0.000000,1.000000,0.000000,0.000000,11.000000,0.000000,1001.000000,0.000000,20001.000000,38.819731,-77.113909,100.000000,-77.113135,38.820576,0.000000,0.000000,1.000000,1.000000,1.000000
25%,39739.000000,1.000000,0.000000,1.000000,4.000000,2.000000,1918.000000,1985.000000,1954.000000,2.000000,2.400000e+05,1.000000,1190.000000,1.000000,1.000000,0.000000,11.000000,697.000000,1501.000000,616.000000,20007.000000,38.895425,-77.042892,2102.000000,-77.042894,38.895432,0.000000,0.000000,5.000000,4.000000,3.000000
50%,79478.000000,2.000000,0.000000,1.000000,6.000000,3.000000,1937.000000,2004.000000,1963.000000,2.000000,3.999990e+05,1.000000,1480.000000,1.000000,1.000000,0.000000,13.000000,1649.000000,2265.000000,783.000000,20011.000000,38.915337,-77.019596,5201.000000,-77.019581,38.915229,1.000000,0.000000,5.000000,5.000000,4.000000
75%,119217.000000,2.000000,1.000000,1.000000,7.000000,3.000000,1960.000000,2010.000000,1975.000000,2.000000,6.520000e+05,2.000000,1966.000000,1.000000,1.000000,1.000000,17.000000,3000.000000,2910.000000,1060.000000,20018.000000,38.936075,-76.988626,8302.000000,-76.988842,38.936077,1.000000,1.000000,6.000000,5.000000,6.000000
max,158956.000000,14.000000,11.000000,6.000000,48.000000,24.000000,2019.000000,2019.000000,2018.000000,826.000000,1.374275e+08,15.000000,45384.000000,5.000000,44.000000,293920.000000,117.000000,942632.000000,5621.000000,8553.000000,20392.000000,38.995540,-76.909758,11100.000000,-76.910511,38.993646,1.000000,1.000000,13.000000,7.000000,8.000000

In [22]:
df.corr()

# strongest predictor of price is GBA (gross building area)
# second strongest predictor of price is GRADE

,Unnamed: 0,BATHRM,HF_BATHRM,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,EYB,STORIES,PRICE,SALE_NUM,GBA,BLDG_NUM,KITCHENS,FIREPLACES,USECODE,LANDAREA,CMPLX_NUM,LIVING_GBA,ZIPCODE,LATITUDE,LONGITUDE,CENSUS_TRACT,X,Y,AC1,QUALIFIED1,GRADE1,CNDTN1,WARD1
Unnamed: 0,1.000000,-0.378389,-0.358454,-0.051664,-0.585978,-0.598538,0.438398,-0.115391,-0.133335,-0.043577,0.033219,0.047972,-0.269501,-0.009726,-0.061138,0.002666,0.299741,-0.207757,0.097378,0.027510,0.141489,-0.210494,0.106993,0.161255,0.106642,-0.211284,0.192608,0.080355,-0.147560,0.109320,-0.031940
BATHRM,-0.378389,1.000000,0.248759,0.403431,0.677751,0.655563,-0.039087,0.239797,0.269444,0.042349,-0.006536,0.068399,0.682977,-0.000207,0.423178,-0.001632,0.121070,0.287648,0.213538,0.717903,-0.063410,0.130588,-0.184810,-0.196311,-0.184997,0.129822,0.133799,0.080092,0.306006,-0.002768,-0.077230
HF_BATHRM,-0.358454,0.248759,1.000000,-0.151393,0.353825,0.375568,-0.009372,0.148483,0.235645,0.033270,-0.013113,0.002193,0.272598,-0.009322,-0.132895,-0.001635,-0.229586,0.212534,0.057939,0.484198,-0.020164,0.126221,-0.058719,-0.072888,-0.058819,0.126238,0.121492,0.020231,0.176453,0.017676,0.035202
NUM_UNITS,-0.051664,0.403431,-0.151393,1.000000,0.524724,0.330551,-0.104280,-0.015551,-0.069551,0.019268,-0.000469,0.013986,0.264009,0.010247,0.930610,-0.030635,0.797330,-0.038679,NaN,NaN,-0.099460,-0.117125,0.037280,0.060408,0.037291,-0.117025,-0.090656,-0.005328,-0.047200,-0.022727,0.002998
ROOMS,-0.585978,0.677751,0.353825,0.524724,1.000000,0.841309,-0.219367,0.161396,0.158847,0.039352,-0.038241,-0.034828,0.679725,-0.003255,0.525796,-0.003660,-0.042795,0.348184,0.049562,0.761722,-0.053109,0.120238,0.006756,-0.075593,0.006399,0.119712,-0.164868,-0.090578,0.222315,0.017956,0.117168
BEDRM,-0.598538,0.655563,0.375568,0.330551,0.841309,1.000000,-0.242955,0.214655,0.168913,0.040859,-0.043331,-0.024835,0.631736,-0.006528,0.346781,-0.004696,-0.131676,0.321066,0.146936,0.721204,-0.071962,0.144971,0.028338,-0.072028,0.028024,0.144723,-0.144089,-0.079442,0.221312,-0.004597,0.116440
AYB,0.438398,-0.039087,-0.009372,-0.104280,-0.219367,-0.242955,1.000000,0.021678,0.660668,-0.011098,0.056041,0.017096,0.006706,0.005310,-0.108947,0.001453,0.078079,-0.040503,0.201515,0.117381,0.175098,-0.122697,0.032979,0.115762,0.033361,-0.122607,0.274720,0.074269,0.038201,0.188394,0.067771
YR_RMDL,-0.115391,0.239797,0.148483,-0.015551,0.161396,0.214655,0.021678,1.000000,0.256227,-0.001643,0.030072,0.157290,0.005231,0.002231,0.003241,0.001622,-0.094586,0.049021,0.546581,0.118424,-0.098040,0.044246,0.145658,0.069060,0.145585,0.044158,0.166180,0.203321,-0.041424,-0.084977,0.113060
EYB,-0.133335,0.269444,0.235645,-0.069551,0.158847,0.168913,0.660668,0.256227,1.000000,0.040214,0.049627,0.053879,0.311207,0.014750,-0.048890,0.000097,-0.059968,0.081796,0.246490,0.109064,0.041599,-0.082219,0.005107,0.036704,0.005332,-0.082212,0.234762,0.106665,0.313340,0.102119,0.080575
STORIES,-0.043577,0.042349,0.033270,0.019268,0.039352,0.040859,-0.011098,-0.001643,0.040214,1.000000,0.042337,0.012937,0.056026,-0.003790,0.021013,0.033622,0.020700,-0.009711,NaN,NaN,-0.026886,-0.003654,-0.031842,-0.025058,-0.031842,-0.003597,0.012059,0.013486,0.036518,0.009555,-0.035326
PRICE,0.033219,-0.006536,-0.013113,-0.000469,-0.038241,-0.043331,0.056041,0.030072,0.049627,0.042337,1.000000,-0.015942,0.600576,0.003048,0.045213,0.023989,0.026404,-0.005457,-0.032988,-0.027106,0.001467,0.044505,-0.095247,-0.069743,-0.095253,0.044581,0.039777,-0.101803,0.436562,0.066804,-0.052768
SALE_NUM,0.047972,0.068399,0.002193,0.013986,-0.034828,-0.024835,0.017096,0.157290,0.053879,0.012937,-0.015942,1.000000,-0.013354,-0.007520,0.029022,0.000653,0.037797,-0.045083,0.026244,0.018030,-0.028697,-0.012872,-0.009749,-0.006601,-0.009677,-0.012940,0.133586,0.167488,-0.008580,-0.019986,-0.036758
GBA,-0.269501,0.682977,0.272598,0.264009,0.679725,0.631736,0.006706,0.005231,0.311207,0.056026,0.600576,-0.013354,1.000000,-0.005768,0.279690,0.502708,0.205906,0.432342,NaN,NaN,-0.097850,0.172897,-0.398899,-0.342124,-0.399379,0.172223,0.150128,0.015566,0.399778,0.017458,-0.308450
BLDG_NUM,-0.009726,-0.000207,-0.009322,0.010247,-0.003255,-0.006528,0.005310,0.002231,0.014750,-0.003790,0.003048,-0.007520,-0.005768,1.000000,0.007495,-0.000055,0.040795,0.091614,NaN,NaN,0.000217,-0.012939,-0.000261,-0.003020,-0.000509,-0.013135,0.001552,-0.013790,-0.000445,-0.001191,0.008756
KITCHENS,-0.061138,0.423178,-0.132895,0.930610,0.525796,0.346781,-0.108947,0.003241,-0.048890,0.021013,0.045213,0.029022,0.279690,0.007495,1.000000,-0.008160,0.747589,-0.023260,NaN,NaN,-0.104648,-0.106070,0.016768,0.039702,0.016675,-0.105958,-0.072248,0.012460,-0.025953,-0.020587,-0.014334
FIREPLACES,0.002666,-0.001632,-0.001635,-0.030635,-0.003660,-0.004696,0.001453,0.001622,0.000097,0.033622,0.023989,0.000653,0.502708,-0.000055,-0.008160,1.000000,0.001800,-0.000888,0.002993,-0.003596,-0.001311,-0.000615,-0.001187,0.003275,-0.001186,-0.000616,0.001707,-0.002436,0.341467,-0.075267,-0.002892
USECODE,0.299741,0.121070,-0.229586,0.797330,-0.042795,-0.131676,0.078079,-0.094586,-0.059968,0.020700,0.026404,0.037797,0.205906,0.040795,0.747589,0.001800,1.000000,-0.145187,-0.027334,-0.035107,-0.007196,-0.111173,-0.094708,-0.003574,-0.094612,-0.111016,0.125635,0.063608,-0.053568,-0.051174,-0.165006
LANDAREA,-0.207757,0.287648,0.212534,-0.038679,0.348184,0.321066,-0.040503,0.049021,0.081796,-0.009711,-0.005457,-0.045083,0.432342,0.091614,-0.023260,-0.000888,-0.145187,1.000000,-0.014811,0.483019,0.026285,0.130343,-0.048676,-0.075557,-0.050607,0.129348,-0.026336,-0.070343,0.167029,0.000828,0.052976
CMPLX_NUM,0.097378,0.213538,0.057939,NaN,0.049562,0.146936,0.201515,0.546581,0.246490,NaN,-0.032988,0.026244,NaN,NaN,NaN,0.002993,-0.027334,-0.014811,1.000000,0.094754,-0.186350,0.011032,0.206536,0.153929,0.206536,0.011032,0.139043,0.094237,NaN,NaN,0.117754
LIVING_GBA,0.027510,0.717903,0.484198,NaN,0.761722,0.721204,0.117381,0.118424,0.109064,NaN,-0.027106,0.018030,NaN,NaN,NaN,-0.003596,-0.035107,0.483019,0.094754,1.000000,-0.026395,0.062797,-0.041299,-0.067078,-0.041299,0.062797,0.079886,-0.054104,NaN,NaN,-0.008253
ZIPCODE,0.141489,-0.063410,-0.020164,-0.099460,-0.053109,-0.071962,0.175098,-0.098040,0.041599,-0.026886,0.001467,-0.028697,-0.097850,0.000217,-0.104648,-0.001311,-0.007196,0.026285,-0.186350,-0.026395,1.000000,-0.127103,0.023430,0.090877,0.023015,-0.126776,0.043216,-0.035339,-0.029331,0.056312,0.109597
LATITUDE,-0.210494,0.130588,0.126221,-0.117125,0.120238,0.144971,-0.122697,0.044246,-0.082219,-0.003654,0.044505,-0.012872,0.172897,-0.012939,-0.106070,-0.000615,-0.111173,0.130343,0.011032,0.062797,-0.127103,1.000000,-0.499464,-0.563457,-0.499904,0.999919,-0.051794,-0.005301,0.015396,-0.074626,-0.574438
LONGITUDE,0.106993,-0.184810,-0.058719,0.037280,0.006756,0.028338,0.032979,0.145658,0.005107,-0.031842,-0.095247,-0.009749,-0.398899,-0.000261,0.016768,-0.001187,-0.094708,-0.048676,0.206536,-0.041299,0.023430,-0.499464,1.000000,0.785436,0.999897,-0.499661,-0.142713,-0.059542,-0.280213,0.091938,0.727663
CENSUS_TRACT,0.161255,-0.196311,-0.072888,0.060408,-0.075593,-0.072028,0.115762,0.069060,0.036704,-0.025058,-0.069743,-0.006601,-0.342124,-0.003020,0.039702,0.003275,-0.003574,-0.075557,0.153929,-0.067078,0.090877,-0.563457,0.785436,1.000000,0.785422,-0.563861,-0.033412,-0.031958,-0.241716,0.095207,0.643482
X,0.106642,-0.184997,-0.058819,0.037291,0.006399,0.028024,0.033361,0.145585,0.005332,-0.031842,-0.095253,-0.009677,-0.399379,-0.000509,0.016675,-0.001186,-0.094612,-0.050607,0.206536,-0.041299,0.023015,-0.499904,0.999897,0.785422,1.000000,-0.499799,-0.142312,-0.059217,-0.280449,0.091944,0.727751
Y,-0.211284,0.129822,0.126238,-0.117025,0.119712,0.144723,-0.122607,0.044158,-0.082212,-0.003597,0.044581,-0.012940,0.172223,-0.013135,-0.105958,-0.000616,-0.111016,0.129348,0.011032,0.062797,-0.126776,0.999919,-0.499661,-0.563861,-0.499799,1.000000,-0.052059,-0.005389,0.014985,-0.073721,-0.574684
AC1,0.192608,0.133799,0.121492,-0.090656,-0.164868,-0.144089,0.274720,0.166180,0.234762,0.012059,0.039777,0.133586,0.150128,0.001552,-0.072248,0.001707,0.125635,-0.026336,0.139043,0.079886,0.043216,-0.051794,-0.142713,-0.033412,-0.142312,-0.052059,1.000000,0.238055,0.128575,-0.086614,-0.108160
QUALIFIED1,0.080355,0.080092,0.020231,-0.005328,-0.090578,-0.079442,0.074269,0.203321,0.106665,0.013486,-0.101803,0.167488,0.015566,-0.013790,0.012460,-0.002436,0.063608,-0.070343,0.094237,-0.054104,-0.035339,-0.005301,-0.059542,-0.031958,-0.059217,-0.005389,0.238055,1.000000,0.021586,-0.054610,-0.086477
GRADE1,-0.147560,0.306006,0.176453,-0.047200,0.222315,0.221312,0.038201,-0.041424,0.313340,0.036518,0.436562,-0.008580,0.399778,-0.000445,-0.025953,0.341467,-0.053568,0.167029,NaN,NaN,-0.029331,0.015396,-0.280213,-0.241716,-0.280449,0.014985,0.128575,0.021586,1.000000,0.050394,-0.212013
CNDTN1,0.109320,-0.002768,0.017676,-0.022727,0.017956,-0.004597,0.188394,-0.084977,0.102119,0.009555,0.066804,-0.019986,0.017458,-0.001191,-0.020587,-0.075267,-0.051174,0.000828,NaN,NaN,0.056312,-0.074626,0.091938,0.095207,0.091944,-0.073721,-0.086614,-0.054610,0.050394,1.000000,0.077985
WARD1,-0.031940,-0.077230,0.035202,0.002998,0.117168,0.116440,0.067771,0.113060,0.080575,-0.035326,-0.052768,-0.036758,-0.308450,0.008756,-0.014334,-0.002892,-0.165006,0.052976,0.117754,-0.008253,0.109597,-0.574438,0.727663,0.643482,0.727751,-0.574684,-0.108160,-0.086477,-0.212013,0.077985,1.000000

In [23]:
df['SALEYEAR'] = pd.DatetimeIndex(df['SALEDATE']).year
df['SALEMONTH'] = pd.DatetimeIndex(df['SALEDATE']).month
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158957 entries, 0 to 158956
Data columns (total 55 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Unnamed: 0          158957 non-null  int64
 1   BATHRM              158957 non-null  int64
 2   HF_BATHRM           158957 non-null  int64
 3   HEAT                158957 non-null  object
 4   NUM_UNITS           106696 non-null  float64
 5   ROOMS               158957 non-null  int64
 6   BEDRM               158957 non-null  int64
 7   AYB                 158686 non-null  float64
 8   YR_RMDL             80928 non-null   float64
 9   EYB                 158957 non-null  int64
 10  STORIES             106652 non-null  float64
 11  SALEDATE            132187 non-null  object
 12  PRICE               98216 non-null   float64
 13  QUALIFIED           158957 non-null  object
 14  SALE_NUM            158957 non-null  int64
 15  GBA                 106696 non-null  float64
 16  BLDG_NUM            158957 non-null  int64
 17  STYLE               106696 non-null  object
 18  STRUCT              106696 non-null  object
 19  GRADE               106696 non-null  object
 20  CNDTN               106696 non-null  object
 21  EXTWALL             106696 non-null  object
 22  ROOF                106696 non-null  object
 23  INTWALL             106696 non-null  object
 24  KITCHENS            106695 non-null  float64
 25  FIREPLACES          158957 non-null  int64
 26  USECODE             158957 non-null  int64
 27  LANDAREA            158957 non-null  int64
 28  GIS_LAST_MOD_DTTM   158957 non-null  object
 29  SOURCE              158957 non-null  object
 30  CMPLX_NUM           52261 non-null   float64
 31  LIVING_GBA          52261 non-null   float64
 32  FULLADDRESS         106040 non-null  object
 33  CITY                106051 non-null  object
 34  STATE               106051 non-null  object
 35  ZIPCODE             158956 non-null  float64
 36  NATIONALGRID        106051 non-null  object
 37  LATITUDE            158956 non-null  float64
 38  LONGITUDE           158956 non-null  float64
 39  ASSESSMENT_NBHD     158956 non-null  object
 40  ASSESSMENT_SUBNBHD  126406 non-null  object
 41  CENSUS_TRACT        158956 non-null  float64
 42  CENSUS_BLOCK        106051 non-null  object
 43  WARD                158956 non-null  object
 44  SQUARE              158957 non-null  object
 45  X                   158720 non-null  float64
 46  Y                   158720 non-null  float64
 47  QUADRANT            158720 non-null  object
 48  AC1                 158957 non-null  int32
 49  QUALIFIED1          158957 non-null  int32
 50  GRADE1              106696 non-null  float64
 51  CNDTN1              106696 non-null  float64
 52  WARD1               158956 non-null  float64
 53  SALEYEAR            132187 non-null  float64
 54  SALEMONTH           132187 non-null  float64
dtypes: float64(20), int32(2), int64(11), object(22)
memory usage: 65.5+ MB

In [24]:
def convert_price(year, price):
    if year == 1982:
        return price*(3.07)
    
    if year == 1983:
        return price*(2.97)
    
    if year == 1984:
        return price*(2.8778)
    
    if year == 1985:
        return price*(2.75)
    
    if year == 1986:
        return price*(2.7)
    
    if year == 1987:
        return price*(2.61)
    
    if year == 1988:
        return price*(2.5)
    
    if year == 1989:
        return price*(2.39)
    
    if year == 1990:
        return price*(2.27)
    
    if year ==1991:
        return price*(2.18)
    
    if year ==1992:
        return price*(2.11)
    
    if year ==1993:
        return price*(2.05)
    
    if year == 1994:
        return price*(2)
    
    if year == 1995:
        return price*(1.94)
    
    if year == 1996:
        return price*(1.89)
    
    if year == 1997:
        return price*(1.85)
    
    if year == 1998:
        return price*(1.82)
    
    if year == 1999:
        return price*(1.78)
    
    if year == 2000:
        return price*(1.72)
    
    if year == 2001:
        return price*(1.67)
    
    if year == 2002:
        return price*(1.65)
    
    if year == 2003:
        return price*(1.61)
    
    if year == 2004:
        return price*(1.57)
    
    if year == 2005:
        return price*(1.52)
    
    if year == 2006:
        return price*(1.47)
    
    if year == 2007:
        return price*(1.43)
    
    if year == 2008:
        return price*(1.38)
    
    if year == 2009:
        return price*(1.38)
    
    if year == 2010:
        return price*(1.36)
    
    if year == 2011:
        return price*(1.32)
    
    if year == 2012:
        return price*(1.29)
    
    if year == 2013:
        return price*(1.27)
    
    if year == 2014:
        return price*(1.25)
    
    if year == 2015:
        return price*(1.25)
    
    if year == 2016:
        return price*(1.23)
    
    if year == 2017:
        return price*(1.21)
    
    if year == 2018:
        return price*(1.18)
    
    if year == 2019:
        return price*(1.16)
    
df['PRICE2022'] = df.apply(lambda x: convert_price(x.SALEYEAR, x.PRICE), axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158957 entries, 0 to 158956
Data columns (total 56 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Unnamed: 0          158957 non-null  int64
 1   BATHRM              158957 non-null  int64
 2   HF_BATHRM           158957 non-null  int64
 3   HEAT                158957 non-null  object
 4   NUM_UNITS           106696 non-null  float64
 5   ROOMS               158957 non-null  int64
 6   BEDRM               158957 non-null  int64
 7   AYB                 158686 non-null  float64
 8   YR_RMDL             80928 non-null   float64
 9   EYB                 158957 non-null  int64
 10  STORIES             106652 non-null  float64
 11  SALEDATE            132187 non-null  object
 12  PRICE               98216 non-null   float64
 13  QUALIFIED           158957 non-null  object
 14  SALE_NUM            158957 non-null  int64
 15  GBA                 106696 non-null  float64
 16  BLDG_NUM            158957 non-null  int64
 17  STYLE               106696 non-null  object
 18  STRUCT              106696 non-null  object
 19  GRADE               106696 non-null  object
 20  CNDTN               106696 non-null  object
 21  EXTWALL             106696 non-null  object
 22  ROOF                106696 non-null  object
 23  INTWALL             106696 non-null  object
 24  KITCHENS            106695 non-null  float64
 25  FIREPLACES          158957 non-null  int64
 26  USECODE             158957 non-null  int64
 27  LANDAREA            158957 non-null  int64
 28  GIS_LAST_MOD_DTTM   158957 non-null  object
 29  SOURCE              158957 non-null  object
 30  CMPLX_NUM           52261 non-null   float64
 31  LIVING_GBA          52261 non-null   float64
 32  FULLADDRESS         106040 non-null  object
 33  CITY                106051 non-null  object
 34  STATE               106051 non-null  object
 35  ZIPCODE             158956 non-null  float64
 36  NATIONALGRID        106051 non-null  object
 37  LATITUDE            158956 non-null  float64
 38  LONGITUDE           158956 non-null  float64
 39  ASSESSMENT_NBHD     158956 non-null  object
 40  ASSESSMENT_SUBNBHD  126406 non-null  object
 41  CENSUS_TRACT        158956 non-null  float64
 42  CENSUS_BLOCK        106051 non-null  object
 43  WARD                158956 non-null  object
 44  SQUARE              158957 non-null  object
 45  X                   158720 non-null  float64
 46  Y                   158720 non-null  float64
 47  QUADRANT            158720 non-null  object
 48  AC1                 158957 non-null  int32
 49  QUALIFIED1          158957 non-null  int32
 50  GRADE1              106696 non-null  float64
 51  CNDTN1              106696 non-null  float64
 52  WARD1               158956 non-null  float64
 53  SALEYEAR            132187 non-null  float64
 54  SALEMONTH           132187 non-null  float64
 55  PRICE2022           98215 non-null   float64
dtypes: float64(21), int32(2), int64(11), object(22)
memory usage: 66.7+ MB

## 2. Removing Outliers and Inappropriate Values

In [25]:
df2 = df.copy()

In [26]:
# 1. rooms

# creating new column with z-scores
df2["zscoreROOMS"] = np.abs(stats.zscore(df2["ROOMS"]))

# identifying outliers with z-scores > 3
outlierROOMS = df2.loc[df2["zscoreROOMS"]>3]

print(outlierROOMS)

# 2,122 outliers have 15+ ROOMS (median is 6)

# removing outliers
df2.drop(df2.loc[df2["zscoreROOMS"]>3].index, inplace = True)

        Unnamed: 0  BATHRM  HF_BATHRM           HEAT  NUM_UNITS  ROOMS  BEDRM  \
11              11       5          0  Hot Water Rad        3.0     16      6
56              56       5          1  Hot Water Rad        3.0     15      7
90              90       6          0  Hot Water Rad        4.0     18      4
102            102       4          3      Warm Cool        1.0     16      5
199            199       4          0     Forced Air        4.0     16      8
...            ...     ...        ...            ...        ...    ...    ...
106467      106467       4          0     Forced Air        4.0     16      8
106519      106519       4          0  Hot Water Rad        4.0     16      8
106521      106521       4          0  Hot Water Rad        4.0     16      8
106522      106522       4          0  Hot Water Rad        4.0     16      4
147483      147483       3          1     Forced Air        NaN     15      2

           AYB  YR_RMDL   EYB  STORIES             SALEDATE      PRICE  \
11      1905.0      NaN  1950      3.0  2009-03-12 00:00:00        NaN
56      1900.0   2008.0  1972      3.0  2014-04-08 00:00:00        NaN
90      1940.0      NaN  1957      3.0  2017-11-08 00:00:00  1500000.0
102     1916.0   2009.0  1978      4.0  2008-04-15 00:00:00  2675000.0
199     1880.0   2004.0  1960      3.0                  NaN        NaN
...        ...      ...   ...      ...                  ...        ...
106467  1942.0   2017.0  1964      2.0  2014-10-24 00:00:00  4739000.0
106519  1943.0      NaN  1954      2.0  2017-06-02 00:00:00   352419.0
106521  1943.0      NaN  1954      2.0  2000-12-21 00:00:00        NaN
106522  1943.0   2008.0  1954      2.0  2010-11-09 00:00:00   156000.0
147483  1984.0      NaN  1984      NaN  2003-12-18 00:00:00  4000000.0

       QUALIFIED  SALE_NUM     GBA  BLDG_NUM    STYLE         STRUCT  \
11             U         1  3100.0         1  3 Story     Row Inside
56             U         1  4618.0         1  3 Story     Row Inside
90             Q         5  3582.0         1  3 Story          Multi
102            Q         1  6140.0         1  4 Story        Row End
199            U         1  3456.0         1  3 Story     Row Inside
...          ...       ...     ...       ...      ...            ...
106467         U         2  3456.0         1  2 Story  Semi-Detached
106519         U         2  3400.0         1  2 Story          Multi
106521         U         1  2800.0         1  2 Story          Multi
106522         U         1  2800.0         1  2 Story          Multi
147483         U         1     NaN         1      NaN            NaN

                GRADE      CNDTN       EXTWALL        ROOF   INTWALL  \
11       Good Quality    Average  Common Brick  Metal- Sms  Hardwood
56          Very Good       Good  Common Brick    Built Up  Hardwood
90      Above Average    Average  Common Brick    Built Up  Hardwood
102         Excellent  Very Good  Common Brick    Built Up  Hardwood
199      Good Quality       Good  Common Brick    Built Up  Hardwood
...               ...        ...           ...         ...       ...
106467        Average  Very Good  Common Brick    Built Up  Hardwood
106519        Average    Average  Common Brick       Slate  Hardwood
106521        Average       Fair  Common Brick    Built Up  Hardwood
106522        Average    Average  Common Brick    Built Up  Hardwood
147483            NaN        NaN           NaN         NaN       NaN

        KITCHENS  FIREPLACES  USECODE  LANDAREA    GIS_LAST_MOD_DTTM  \
11           3.0           0       24      2023  2018-07-22 18:01:43
56           3.0           6       24      2200  2018-07-22 18:01:43
90           4.0           0       23      1760  2018-07-22 18:01:43
102          1.0           5       11      2850  2018-07-22 18:01:43
199          4.0           0       24      2150  2018-07-22 18:01:43
...          ...         ...      ...       ...                  ...
106467       4.0           0       24      9379  2018-07-22 18:01:43
106519       4.0           0       23      7781  2018-07-22 18:01:43
106521       4.0           0       23      4232  2018-07-22 18:01:43
106522       4.0           0       23      2945  2018-07-22 18:01:43
147483       NaN           3       17        22  2018-07-22 18:01:38

             SOURCE  CMPLX_NUM  LIVING_GBA                   FULLADDRESS  \
11      Residential        NaN         NaN              1734 T STREET NW
56      Residential        NaN         NaN           1825 16TH STREET NW
90      Residential        NaN         NaN          1619 SWANN STREET NW
102     Residential        NaN         NaN              2019 R STREET NW
199     Residential        NaN         NaN              1434 Q STREET NW
...             ...        ...         ...                           ...
106467  Residential        NaN         NaN        504 ATLANTIC STREET SE
106519  Residential        NaN         NaN        6 BRANDYWINE STREET SE
106521  Residential        NaN         NaN  4010 SOUTH CAPITOL STREET SE
106522  Residential        NaN         NaN  4006 SOUTH CAPITOL STREET SE
147483  Condominium     2380.0      5423.0                           NaN

              CITY STATE  ZIPCODE        NATIONALGRID   LATITUDE  LONGITUDE  \
11      WASHINGTON    DC  20009.0  18S UJ 23159 09362  38.915363 -77.039718
56      WASHINGTON    DC  20009.0  18S UJ 23473 09321  38.915059 -77.036088
90      WASHINGTON    DC  20009.0  18S UJ 23350 09318  38.915004 -77.037508
102     WASHINGTON    DC  20009.0  18S UJ 22590 09094  38.912829 -77.046208
199     WASHINGTON    DC  20009.0  18S UJ 23692 08861  38.910959 -77.033444
...            ...   ...      ...                 ...        ...        ...
106467  WASHINGTON    DC  20032.0  18S UH 26454 99933  38.831101 -76.999357
106519  WASHINGTON    DC  20032.0  18S UH 25792 99868  38.830386 -77.006964
106521  WASHINGTON    DC  20032.0  18S UH 25759 99914  38.830789 -77.007353
106522  WASHINGTON    DC  20032.0  18S UH 25760 99932  38.830953 -77.007342
147483         NaN   NaN  20007.0                 NaN  38.901944 -77.060336

         ASSESSMENT_NBHD      ASSESSMENT_SUBNBHD  CENSUS_TRACT CENSUS_BLOCK  \
11            Old City 2        040 D Old City 2        4201.0  004201 2005
56            Old City 2        040 E Old City 2        4300.0  004300 2003
90            Old City 2        040 D Old City 2        4201.0  004201 1004
102           Old City 2        040 D Old City 2        5500.0  005500 1001
199           Old City 2        040 E Old City 2        5201.0  005201 4004
...                  ...                     ...           ...          ...
106467  Congress Heights  016 C Congress Heights        9802.0  009802 1001
106519  Congress Heights  016 B Congress Heights        9810.0  009810 2000
106521  Congress Heights  016 B Congress Heights        9810.0  009810 2000
106522  Congress Heights  016 B Congress Heights        9810.0  009810 2000
147483        Georgetown        025 I Georgetown         100.0          NaN

          WARD SQUARE          X          Y QUADRANT  AC1  QUALIFIED1  GRADE1  \
11      Ward 2    152 -77.040429  38.914881       NW    1           0     4.0
56      Ward 2    191 -77.035454  38.914956       NW    1           0     7.0
90      Ward 2    177 -77.037221  38.915033       NW    0           1     6.0
102     Ward 2     92 -77.046148  38.913145       NW    1           1     8.0
199     Ward 2    209 -77.033446  38.910498       NW    1           0     4.0
...        ...    ...        ...        ...      ...  ...         ...     ...
106467  Ward 8   6156 -76.996991  38.831352       SE    1           0     5.0
106519  Ward 8   6170 -77.006494  38.830410       SE    0           0     5.0
106521  Ward 8   6170 -77.006494  38.830410       SE    0           0     5.0
106522  Ward 8   6170 -77.006494  38.830410       SE    0           0     5.0
147483  Ward 2   1173 -77.060338  38.901952       NW    1           0     NaN

        CNDTN1  WARD1  SALEYEAR  SALEMONTH   PRICE2022  zscoreROOMS
11         5.0    2.0    2009.0        3.0         NaN     3.747776
56         4.0    2.0    2014.0        4.0         NaN     3.365828
90         5.0    2.0    2017.0       11.0  1815000.00     4.511672
102        6.0    2.0    2008.0        4.0  3691500.00     3.747776
199        4.0    2.0       NaN        NaN         NaN     3.747776
...        ...    ...       ...        ...         ...          ...
106467     6.0    8.0    2014.0       10.0  5923750.00     3.747776
106519     5.0    8.0    2017.0        6.0   426426.99     3.747776
106521     3.0    8.0    2000.0       12.0         NaN     3.747776
106522     5.0    8.0    2010.0       11.0   212160.00     3.747776
147483     NaN    2.0    2003.0       12.0  6440000.00     3.365828

[2122 rows x 57 columns]

In [27]:
# 2. BEDROOMS

# creating new column with z-scores
df2["zscoreBEDRM"] = np.abs(stats.zscore(df2["BEDRM"]))

# identifying outliers with z-scores > 3
outlierBEDRM = df2.loc[df2["zscoreBEDRM"]>3]

print(outlierBEDRM)

# 986 outliers have 7+ bathrooms (median is 3)

# removing outliers
df2.drop(df2.loc[df2["zscoreBEDRM"]>3].index, inplace = True)

        Unnamed: 0  BATHRM  HF_BATHRM           HEAT  NUM_UNITS  ROOMS  BEDRM  \
94              94       4          0  Hot Water Rad        1.0     11      7
121            121       5          1  Hot Water Rad        2.0     13      7
253            253       3          1  Hot Water Rad        2.0     13      7
349            349       5          1  Hot Water Rad        2.0      9      8
468            468       5          3  Hot Water Rad        3.0     12      8
...            ...     ...        ...            ...        ...    ...    ...
106179      106179       4          0  Hot Water Rad        4.0     12      8
106682      106682       3          0     Forced Air        3.0     13      8
128383      128383       6          1     Forced Air        NaN      7      7
150654      150654       5          0  Hot Water Rad        NaN      9      7
150783      150783       5          0  Hot Water Rad        NaN     11      7

           AYB  YR_RMDL   EYB  STORIES             SALEDATE      PRICE  \
94      1890.0      NaN  1970      4.0  2009-06-04 00:00:00        NaN
121     1883.0   1980.0  1963      3.0  2018-07-03 00:00:00        NaN
253     1890.0   2011.0  1978      3.0  1992-11-16 00:00:00   536500.0
349     1900.0      NaN  1970      3.0  2000-11-20 00:00:00        NaN
468     1895.0   2010.0  1969      3.0  2008-07-11 00:00:00   650000.0
...        ...      ...   ...      ...                  ...        ...
106179  1938.0   1990.0  1964      2.0  2011-07-20 00:00:00   200000.0
106682  1953.0   2016.0  1971      2.0  2000-11-20 00:00:00   118000.0
128383  1960.0   1978.0  1960      NaN  2013-03-26 00:00:00  1775000.0
150654  1906.0      NaN  1906      NaN  2011-05-31 00:00:00  1800000.0
150783  1917.0   1977.0  1917      NaN  2007-05-31 00:00:00  3225000.0

       QUALIFIED  SALE_NUM     GBA  BLDG_NUM    STYLE      STRUCT  \
94             U         1  3524.0         1  4 Story     Row End
121            U         2  4028.0         1  3 Story     Row End
253            Q         1  3524.0         1  3 Story     Row End
349            U         1  3370.0         1  3 Story     Row End
468            Q         1  2724.0         1  3 Story  Row Inside
...          ...       ...     ...       ...      ...         ...
106179         U         1  3560.0         1  2 Story       Multi
106682         U         1  1600.0         1  2 Story       Multi
128383         U         1     NaN         1      NaN         NaN
150654         Q         1     NaN         1      NaN         NaN
150783         U         1     NaN         1      NaN         NaN

               GRADE    CNDTN       EXTWALL        ROOF   INTWALL  KITCHENS  \
94         Excellent  Average   Brick/Stone  Metal- Sms  Hardwood       1.0
121        Very Good     Good  Common Brick    Built Up  Hardwood       2.0
253        Excellent  Average  Common Brick    Built Up  Hardwood       2.0
349        Excellent  Average  Common Brick    Built Up  Hardwood       2.0
468     Good Quality     Good  Common Brick    Built Up  Hardwood       3.0
...              ...      ...           ...         ...       ...       ...
106179       Average     Good  Common Brick  Metal- Sms  Hardwood       4.0
106682       Average     Good  Common Brick    Built Up  Hardwood       3.0
128383           NaN      NaN           NaN         NaN       NaN       NaN
150654           NaN      NaN           NaN         NaN       NaN       NaN
150783           NaN      NaN           NaN         NaN       NaN       NaN

        FIREPLACES  USECODE  LANDAREA    GIS_LAST_MOD_DTTM       SOURCE  \
94               4       11      1374  2018-07-22 18:01:43  Residential
121              1       24      1852  2018-07-22 18:01:43  Residential
253              3       24      1113  2018-07-22 18:01:43  Residential
349              0       24      1964  2018-07-22 18:01:43  Residential
468              0       24      1569  2018-07-22 18:01:43  Residential
...            ...      ...       ...                  ...          ...
106179           0       23      3600  2018-07-22 18:01:43  Residential
106682           0       23      5311  2018-07-22 18:01:43  Residential
128383           1       17      5560  2018-07-22 18:01:38  Condominium
150654           3       16      4165  2018-07-22 18:01:38  Condominium
150783           0       17      1804  2018-07-22 18:01:38  Condominium

        CMPLX_NUM  LIVING_GBA                    FULLADDRESS        CITY  \
94            NaN         NaN            1723 21ST STREET NW  WASHINGTON
121           NaN         NaN          2010 HILLYER PLACE NW  WASHINGTON
253           NaN         NaN          2029 HILLYER PLACE NW  WASHINGTON
349           NaN         NaN               1623 R STREET NW  WASHINGTON
468           NaN         NaN               1328 W STREET NW  WASHINGTON
...           ...         ...                            ...         ...
106179        NaN         NaN          562 NEWCOMB STREET SE  WASHINGTON
106682        NaN         NaN  4738 SOUTH CAPITOL TERRACE SW  WASHINGTON
128383     2423.0      8553.0                            NaN         NaN
150654     1082.0      3227.0                            NaN         NaN
150783     1117.0      5215.0                            NaN         NaN

       STATE  ZIPCODE        NATIONALGRID   LATITUDE  LONGITUDE  \
94        DC  20009.0  18S UJ 22577 09155  38.913384 -77.046378
121       DC  20009.0  18S UJ 22650 08963  38.911666 -77.045481
253       DC  20009.0  18S UJ 22574 08997  38.911959 -77.046372
349       DC  20009.0  18S UJ 23337 09075  38.912814 -77.037596
468       DC  20009.0  18S UJ 23936 09748  38.918996 -77.030866
...      ...      ...                 ...        ...        ...
106179    DC  20032.0  18S UJ 26578 01530  38.845504 -76.998329
106682    DC  20032.0  18S UH 25768 98918  38.821822 -77.006996
128383   NaN  20016.0                 NaN  38.934668 -77.084688
150654   NaN  20008.0                 NaN  38.935226 -77.065717
150783   NaN  20009.0                 NaN  38.917513 -77.046103

         ASSESSMENT_NBHD      ASSESSMENT_SUBNBHD  CENSUS_TRACT CENSUS_BLOCK  \
94            Old City 2        040 D Old City 2        5500.0  005500 1001
121           Old City 2        040 D Old City 2        5500.0  005500 1005
253           Old City 2        040 D Old City 2        5500.0  005500 1004
349           Old City 2        040 D Old City 2        5301.0  005301 1002
468           Old City 2        040 F Old City 2        4400.0  004400 1006
...                  ...                     ...           ...          ...
106179  Congress Heights  016 B Congress Heights       10400.0  010400 2040
106682  Congress Heights  016 A Congress Heights       10900.0  010900 2000
128383    Wesley Heights    054 B Wesley Heights         801.0          NaN
150654    Cleveland Park                     NaN         600.0          NaN
150783          Kalorama          029 C Kalorama        4001.0          NaN

          WARD SQUARE          X          Y QUADRANT  AC1  QUALIFIED1  GRADE1  \
94      Ward 2     92 -77.046148  38.913145       NW    0           0     8.0
121     Ward 2     93 -77.045889  38.912003       NW    1           0     7.0
253     Ward 2     93 -77.045889  38.912003       NW    0           1     8.0
349     Ward 2    178 -77.037670  38.913217       NW    0           0     8.0
468     Ward 1    235 -77.030790  38.918755       NW    1           1     4.0
...        ...    ...        ...        ...      ...  ...         ...     ...
106179  Ward 8   5984 -76.998611  38.845942       SE    1           0     5.0
106682  Ward 8   6254 -77.006347  38.821799       SW    0           0     5.0
128383  Ward 3   1601 -77.084691  38.934676       NW    1           0     NaN
150654  Ward 3   2075 -77.065720  38.935233       NW    1           1     NaN
150783  Ward 1   2536 -77.046106  38.917521       NW    1           0     NaN

        CNDTN1  WARD1  SALEYEAR  SALEMONTH  PRICE2022  zscoreROOMS  \
94         5.0    2.0    2009.0        6.0        NaN     1.838035
121        4.0    2.0    2018.0        7.0        NaN     2.601931
253        5.0    2.0    1992.0       11.0  1132015.0     2.601931
349        5.0    2.0    2000.0       11.0        NaN     1.074139
468        4.0    1.0    2008.0        7.0   897000.0     2.219983
...        ...    ...       ...        ...        ...          ...
106179     4.0    8.0    2011.0        7.0   264000.0     2.219983
106682     4.0    8.0    2000.0       11.0   202960.0     2.601931
128383     NaN    3.0    2013.0        3.0  2254250.0     0.310243
150654     NaN    3.0    2011.0        5.0  2376000.0     1.074139
150783     NaN    1.0    2007.0        5.0  4611750.0     1.838035

        zscoreBEDRM
94         3.339225
121        3.339225
253        3.339225
349        4.113862
468        4.113862
...             ...
106179     4.113862
106682     4.113862
128383     3.339225
150654     3.339225
150783     3.339225

[986 rows x 58 columns]

In [28]:
# 3. FIREPLACES

# creating new column with z-scores
df2["zscoreFIREPLACES"] = np.abs(stats.zscore(df2["FIREPLACES"]))

# identifying outliers with z-scores > 3
outlierFIREPLACES = df2.loc[df2["zscoreFIREPLACES"]>3]

print(outlierFIREPLACES)

# 2 outliers have 4,000+ fireplaces

# removing outliers
df2.drop(df2.loc[df2["zscoreFIREPLACES"]>3].index, inplace = True)

        Unnamed: 0  BATHRM  HF_BATHRM        HEAT  NUM_UNITS  ROOMS  BEDRM  \
123974      123974       2          0     Ht Pump        NaN      4      2
134928      134928       1          0  Forced Air        NaN      2      0

           AYB  YR_RMDL   EYB  STORIES             SALEDATE       PRICE  \
123974  2016.0      NaN  2016      NaN  2017-01-04 00:00:00    630000.0
134928  1963.0   2006.0  1963      NaN  2015-11-17 00:00:00  53969391.0

       QUALIFIED  SALE_NUM  GBA  BLDG_NUM STYLE STRUCT GRADE CNDTN EXTWALL  \
123974         U         2  NaN         1   NaN    NaN   NaN   NaN     NaN
134928         U         2  NaN         1   NaN    NaN   NaN   NaN     NaN

       ROOF INTWALL  KITCHENS  FIREPLACES  USECODE  LANDAREA  \
123974  NaN     NaN       NaN        4068       17       330
134928  NaN     NaN       NaN      293920       17       109

          GIS_LAST_MOD_DTTM       SOURCE  CMPLX_NUM  LIVING_GBA FULLADDRESS  \
123974  2018-07-22 18:01:38  Condominium     5369.0       941.0         NaN
134928  2018-07-22 18:01:38  Condominium     3100.0       533.0         NaN

       CITY STATE  ZIPCODE NATIONALGRID   LATITUDE  LONGITUDE ASSESSMENT_NBHD  \
123974  NaN   NaN  20002.0          NaN  38.901423 -76.985702        Trinidad
134928  NaN   NaN  20005.0          NaN  38.904456 -77.031057   Central-tri 3

       ASSESSMENT_SUBNBHD  CENSUS_TRACT CENSUS_BLOCK    WARD SQUARE  \
123974     052 B Trinidad        8802.0          NaN  Ward 5   4068
134928                NaN       10100.0          NaN  Ward 2    247

                X          Y QUADRANT  AC1  QUALIFIED1  GRADE1  CNDTN1  WARD1  \
123974 -76.985704  38.901430       NE    1           0     NaN     NaN    5.0
134928 -77.031060  38.904463       NW    1           0     NaN     NaN    2.0

        SALEYEAR  SALEMONTH    PRICE2022  zscoreROOMS  zscoreBEDRM  \
123974    2017.0        1.0    762300.00     0.835602     0.533960
134928    2015.0       11.0  67461738.75     1.599498     2.083235

        zscoreFIREPLACES
123974          5.460048
134928        394.727639

In [29]:
# 4. KITCHENS

# creating new column with z-scores
df2["zscoreKITCHENS"] = np.abs(stats.zscore(df2["KITCHENS"]))

# identifying outliers with z-scores > 3
outlierKITCHENS = df2.loc[df2["zscoreKITCHENS"]>3]

print(outlierKITCHENS)

# no outliers for kitchens

# removing outliers
#df2.drop(df2.loc[df2["zscoreKITCHENS"]>3].index, inplace = True)

Empty DataFrame
Columns: [Unnamed: 0, BATHRM, HF_BATHRM, HEAT, NUM_UNITS, ROOMS, BEDRM, AYB, YR_RMDL, EYB, STORIES, SALEDATE, PRICE, QUALIFIED, SALE_NUM, GBA, BLDG_NUM, STYLE, STRUCT, GRADE, CNDTN, EXTWALL, ROOF, INTWALL, KITCHENS, FIREPLACES, USECODE, LANDAREA, GIS_LAST_MOD_DTTM, SOURCE, CMPLX_NUM, LIVING_GBA, FULLADDRESS, CITY, STATE, ZIPCODE, NATIONALGRID, LATITUDE, LONGITUDE, ASSESSMENT_NBHD, ASSESSMENT_SUBNBHD, CENSUS_TRACT, CENSUS_BLOCK, WARD, SQUARE, X, Y, QUADRANT, AC1, QUALIFIED1, GRADE1, CNDTN1, WARD1, SALEYEAR, SALEMONTH, PRICE2022, zscoreROOMS, zscoreBEDRM, zscoreFIREPLACES, zscoreKITCHENS]
Index: []

In [30]:
# 5. LANDAREA

# creating new column with z-scores
df2["zscoreLANDAREA"] = np.abs(stats.zscore(df2["LANDAREA"]))

# identifying outliers with z-scores > 3
outlierLANDAREA = df2.loc[df2["zscoreLANDAREA"]>3]

print(outlierLANDAREA)

# 2,050 outliers have land area of 10,000+ (median is 1,649)

# removing outliers
df2.drop(df2.loc[df2["zscoreLANDAREA"]>3].index, inplace = True)

        Unnamed: 0  BATHRM  HF_BATHRM            HEAT  NUM_UNITS  ROOMS  \
4284          4284       1          0  Water Base Brd        1.0      7
4575          4575       4          2      Forced Air        2.0     10
19721        19721       4          1       Warm Cool        1.0     13
20595        20595       6          2       Warm Cool        1.0     11
20679        20679       5          1       Warm Cool        1.0     11
...            ...     ...        ...             ...        ...    ...
106460      106460       2          2      Forced Air        1.0      9
106464      106464       2          0   Hot Water Rad        1.0      6
106820      106820       1          0      Forced Air        NaN      4
133781      133781       2          0      Forced Air        NaN      4
146129      146129       2          1      Forced Air        NaN      5

        BEDRM     AYB  YR_RMDL   EYB  STORIES             SALEDATE      PRICE  \
4284        3  1900.0      NaN  1960     3.00  2011-10-03 00:00:00        NaN
4575        4  2015.0      NaN  2016      NaN  2013-11-06 00:00:00        NaN
19721       5  1900.0   2004.0  1998     2.75  2003-12-17 00:00:00  3900000.0
20595       5  1799.0   2005.0  2000     2.00  2013-02-19 00:00:00        NaN
20679       4  1784.0   1998.0  1970     2.00  2013-02-25 00:00:00        NaN
...       ...     ...      ...   ...      ...                  ...        ...
106460      3  1942.0   2008.0  1967     2.00  2012-07-18 00:00:00   800000.0
106464      3  1907.0      NaN  1954     2.00                  NaN        NaN
106820      3  1991.0      NaN  1900      NaN  2002-06-10 00:00:00    49500.0
133781      1  2007.0      NaN  2007      NaN  2012-02-16 00:00:00   582000.0
146129      2  1912.0   2005.0  1919      NaN  2016-11-18 00:00:00   985000.0

       QUALIFIED  SALE_NUM     GBA  BLDG_NUM    STYLE         STRUCT  \
4284           U         1  2420.0         2  3 Story  Semi-Detached
4575           U         1  2752.0         2  4 Story     Row Inside
19721          Q         1  4468.0         1  3 Story         Single
20595          U         1  6631.0         1  2 Story        Row End
20679          U         1  4971.0         1  2 Story         Single
...          ...       ...     ...       ...      ...            ...
106460         Q         1  2249.0         1  2 Story         Single
106464         U         1  1584.0         1  2 Story         Single
106820         Q         1     NaN         1      NaN            NaN
133781         Q         1     NaN         1      NaN            NaN
146129         Q         5     NaN         1      NaN            NaN

                GRADE      CNDTN       EXTWALL          ROOF     INTWALL  \
4284     Good Quality    Average    Face Brick    Metal- Sms  Wood Floor
4575     Good Quality  Very Good  Brick Veneer  Comp Shingle    Hardwood
19721   Exceptional-A       Good  Common Brick         Slate    Hardwood
20595   Exceptional-B  Excellent  Common Brick         Slate    Hardwood
20679       Very Good    Average  Common Brick         Slate    Hardwood
...               ...        ...           ...           ...         ...
106460  Above Average       Good  Common Brick         Slate    Hardwood
106464        Average    Average   Wood Siding      Built Up  Wood Floor
106820            NaN        NaN           NaN           NaN         NaN
133781            NaN        NaN           NaN           NaN         NaN
146129            NaN        NaN           NaN           NaN         NaN

        KITCHENS  FIREPLACES  USECODE  LANDAREA    GIS_LAST_MOD_DTTM  \
4284         1.0           0       81     18038  2018-07-22 18:01:43
4575         2.0           0       29     16294  2018-07-22 18:01:43
19721        1.0           1       12     13683  2018-07-22 18:01:43
20595        1.0           2       11     15037  2018-07-22 18:01:43
20679        1.0           6       12     59054  2018-07-22 18:01:43
...          ...         ...      ...       ...                  ...
106460       1.0           2       12     12136  2018-07-22 18:01:43
106464       1.0           0       12     11676  2018-07-22 18:01:43
106820       NaN           0       16     12570  2018-07-22 18:01:38
133781       NaN           0       17     11644  2018-07-22 18:01:38
146129       NaN           1       16     20152  2018-07-22 18:01:38

             SOURCE  CMPLX_NUM  LIVING_GBA               FULLADDRESS  \
4284    Residential        NaN         NaN           508 P STREET NW
4575    Residential        NaN         NaN           902 N STREET NW
19721   Residential        NaN         NaN          3108 Q STREET NW
20595   Residential        NaN         NaN       1248 30TH STREET NW
20679   Residential        NaN         NaN       1633 29TH STREET NW
...             ...        ...         ...                       ...
106460  Residential        NaN         NaN  7932 WEST BEACH DRIVE NW
106464  Residential        NaN         NaN    3356 BROTHERS PLACE SE
106820  Condominium     1310.0      1027.0                       NaN
133781  Condominium     3134.0      1056.0                       NaN
146129  Condominium     1649.0      1972.0                       NaN

              CITY STATE  ZIPCODE        NATIONALGRID   LATITUDE  LONGITUDE  \
4284    WASHINGTON    DC  20001.0  18S UJ 24891 08652  38.909317 -77.019572
4575    WASHINGTON    DC  20001.0  18S UJ 24472 08412  38.907068 -77.024337
19721   WASHINGTON    DC  20007.0  18S UJ 21177 08842  38.910273 -77.062432
20595   WASHINGTON    DC  20007.0  18S UJ 21432 08424  38.906564 -77.059379
20679   WASHINGTON    DC  20007.0  18S UJ 21590 08994  38.911730 -77.057709
...            ...   ...      ...                 ...        ...        ...
106460  WASHINGTON    DC  20012.0  18S UJ 23036 17272  38.986572 -77.043178
106464  WASHINGTON    DC  20032.0  18S UJ 26088 01191  38.842362 -77.003882
106820         NaN   NaN  20020.0                 NaN  38.846889 -76.983453
133781         NaN   NaN  20001.0                 NaN  38.902833 -77.026397
146129         NaN   NaN  20009.0                 NaN  38.924327 -77.030609

         ASSESSMENT_NBHD      ASSESSMENT_SUBNBHD  CENSUS_TRACT CENSUS_BLOCK  \
4284          Old City 2        040 B Old City 2        4801.0  004801 1022
4575          Old City 2        040 C Old City 2        4902.0  004902 2001
19721         Georgetown        025 F Georgetown         100.0  000100 3003
20595         Georgetown        025 G Georgetown         100.0  000100 4005
20679         Georgetown        025 H Georgetown         100.0  000100 1008
...                  ...                     ...           ...          ...
106460  Colonial Village                     NaN        1600.0  001600 4034
106464  Congress Heights  016 B Congress Heights       10400.0  010400 1017
106820    Randle Heights    043 C Randle Heights        7404.0          NaN
133781     Central-tri 3                     NaN       10100.0          NaN
146129  Columbia Heights  015 E Columbia Heights        3600.0          NaN

          WARD SQUARE          X          Y QUADRANT  AC1  QUALIFIED1  GRADE1  \
4284    Ward 6    479 -77.019208  38.908952       NW    1           0     4.0
4575    Ward 2    368 -77.025043  38.906391       NW    1           0     4.0
19721   Ward 2   1270 -77.062651  38.909990       NW    1           1    13.0
20595   Ward 2   1209 -77.060160  38.905734       NW    1           0    12.0
20679   Ward 2   1284 -77.057711  38.910936       NW    1           0     7.0
...        ...    ...        ...        ...      ...  ...         ...     ...
106460  Ward 4   PAR         NaN        NaN      NaN    1           1     6.0
106464  Ward 8   6004 -77.003116  38.842699       SE    0           0     5.0
106820  Ward 8   5889 -76.983455  38.846897       SE    1           1     NaN
133781  Ward 2    342 -77.026400  38.902841       NW    1           1     NaN
146129  Ward 1   2861 -77.030611  38.924335       NW    1           1     NaN

        CNDTN1  WARD1  SALEYEAR  SALEMONTH  PRICE2022  zscoreROOMS  \
4284       5.0    6.0    2011.0       10.0        NaN     0.310243
4575       6.0    2.0    2013.0       11.0        NaN     1.456087
19721      4.0    2.0    2003.0       12.0  6279000.0     2.601931
20595      7.0    2.0    2013.0        2.0        NaN     1.838035
20679      5.0    2.0    2013.0        2.0        NaN     1.838035
...        ...    ...       ...        ...        ...          ...
106460     4.0    4.0    2012.0        7.0  1032000.0     1.074139
106464     5.0    8.0       NaN        NaN        NaN     0.071706
106820     NaN    8.0    2002.0        6.0    81675.0     0.835602
133781     NaN    2.0    2012.0        2.0   750780.0     0.835602
146129     NaN    1.0    2016.0       11.0  1211550.0     0.453654

        zscoreBEDRM  zscoreFIREPLACES  zscoreKITCHENS  zscoreLANDAREA
4284       0.240677          0.003225             NaN        5.417911
4575       1.015314          0.003225             NaN        4.815079
19721      1.789951          0.001882             NaN        3.912561
20595      1.789951          0.000539             NaN        4.380584
20679      1.015314          0.004833             NaN       19.595507
...             ...               ...             ...             ...
106460     0.240677          0.000539             NaN        3.377824
106464     0.240677          0.003225             NaN        3.218821
106820     0.240677          0.003225             NaN        3.527841
133781     1.308598          0.003225             NaN        3.207759
146129     0.533960          0.001882             NaN        6.148636

[2050 rows x 61 columns]

In [31]:
# 6. GBA

# creating new column with z-scores
df2["zscoreGBA"] = np.abs(stats.zscore(df2["GBA"]))

# identifying outliers with z-scores > 3
outlierGBA = df2.loc[df2["zscoreGBA"]>3]

print(outlierGBA)

# no GBA outliers

Empty DataFrame
Columns: [Unnamed: 0, BATHRM, HF_BATHRM, HEAT, NUM_UNITS, ROOMS, BEDRM, AYB, YR_RMDL, EYB, STORIES, SALEDATE, PRICE, QUALIFIED, SALE_NUM, GBA, BLDG_NUM, STYLE, STRUCT, GRADE, CNDTN, EXTWALL, ROOF, INTWALL, KITCHENS, FIREPLACES, USECODE, LANDAREA, GIS_LAST_MOD_DTTM, SOURCE, CMPLX_NUM, LIVING_GBA, FULLADDRESS, CITY, STATE, ZIPCODE, NATIONALGRID, LATITUDE, LONGITUDE, ASSESSMENT_NBHD, ASSESSMENT_SUBNBHD, CENSUS_TRACT, CENSUS_BLOCK, WARD, SQUARE, X, Y, QUADRANT, AC1, QUALIFIED1, GRADE1, CNDTN1, WARD1, SALEYEAR, SALEMONTH, PRICE2022, zscoreROOMS, zscoreBEDRM, zscoreFIREPLACES, zscoreKITCHENS, zscoreLANDAREA, zscoreGBA]
Index: []

In [32]:
# 7. LIVING_GBA

# creating new column with z-scores
df2["zscoreLIVING_GBA"] = np.abs(stats.zscore(df2["LIVING_GBA"]))

# identifying outliers with z-scores > 3
outlierLIVING_GBA = df2.loc[df2["zscoreLIVING_GBA"]>3]

print(outlierLIVING_GBA)

# no LIVING_GBA outliers

Empty DataFrame
Columns: [Unnamed: 0, BATHRM, HF_BATHRM, HEAT, NUM_UNITS, ROOMS, BEDRM, AYB, YR_RMDL, EYB, STORIES, SALEDATE, PRICE, QUALIFIED, SALE_NUM, GBA, BLDG_NUM, STYLE, STRUCT, GRADE, CNDTN, EXTWALL, ROOF, INTWALL, KITCHENS, FIREPLACES, USECODE, LANDAREA, GIS_LAST_MOD_DTTM, SOURCE, CMPLX_NUM, LIVING_GBA, FULLADDRESS, CITY, STATE, ZIPCODE, NATIONALGRID, LATITUDE, LONGITUDE, ASSESSMENT_NBHD, ASSESSMENT_SUBNBHD, CENSUS_TRACT, CENSUS_BLOCK, WARD, SQUARE, X, Y, QUADRANT, AC1, QUALIFIED1, GRADE1, CNDTN1, WARD1, SALEYEAR, SALEMONTH, PRICE2022, zscoreROOMS, zscoreBEDRM, zscoreFIREPLACES, zscoreKITCHENS, zscoreLANDAREA, zscoreGBA, zscoreLIVING_GBA]
Index: []

In [33]:
# 8. bathrooms

# creating new column with z-scores
df2["zscoreBATH"] = np.abs(stats.zscore(df2["BATHRM"]))

# identifying outliers with z-scores > 3
outlierBATH = df2.loc[df2["zscoreBATH"]>3]

print(outlierBATH)

# 1,004 outliers have 5+ bathrooms (median is 2)

# removing outliers
df2.drop(df2.loc[df2["zscoreBATH"]>3].index, inplace = True)

        Unnamed: 0  BATHRM  HF_BATHRM           HEAT  NUM_UNITS  ROOMS  BEDRM  \
100            100       5          2  Hot Water Rad        2.0     11      6
105            105       5          0      Warm Cool        3.0     10      6
127            127       5          2      Warm Cool        1.0     10      5
128            128       5          2      Warm Cool        1.0     12      5
209            209       5          2      Warm Cool        1.0     10      6
...            ...     ...        ...            ...        ...    ...    ...
146499      146499       5          1     Forced Air        NaN     10      4
148322      148322       6          2        Ht Pump        NaN      7      5
153080      153080       5          1     Forced Air        NaN     10      5
153689      153689       5          1     Forced Air        NaN     10      4
153699      153699       5          2     Forced Air        NaN     10      5

           AYB  YR_RMDL   EYB  STORIES             SALEDATE      PRICE  \
100     1895.0   2006.0  1972      3.0  2013-04-04 00:00:00        NaN
105     1925.0   2005.0  1972      3.0  2016-01-19 00:00:00  2350000.0
127     1922.0   2001.0  1972      3.0  2008-06-06 00:00:00  1865000.0
128     1900.0   2008.0  1991      3.0  2015-09-10 00:00:00        NaN
209     1890.0   2012.0  1972      3.0  2008-03-03 00:00:00  1430000.0
...        ...      ...   ...      ...                  ...        ...
146499  2008.0      NaN  2008      NaN  2010-05-14 00:00:00  4500000.0
148322  1912.0   2013.0  1919      NaN  2013-08-01 00:00:00  4087276.0
153080  1976.0   1976.0  1976      NaN  2016-08-24 00:00:00        NaN
153689  1976.0   1976.0  1976      NaN  1998-05-15 00:00:00   905000.0
153699  1976.0   1976.0  1976      NaN  2017-04-24 00:00:00        NaN

       QUALIFIED  SALE_NUM     GBA  BLDG_NUM    STYLE      STRUCT      GRADE  \
100            U         1  3824.0         1  3 Story  Row Inside  Very Good
105            Q         3  3440.0         1  3 Story  Row Inside  Very Good
127            Q         1  3254.0         1  3 Story  Row Inside  Very Good
128            U         5  4036.0         1  3 Story     Row End  Excellent
209            Q         1  4023.0         1  3 Story  Row Inside  Very Good
...          ...       ...     ...       ...      ...         ...        ...
146499         Q         1     NaN         1      NaN         NaN        NaN
148322         Q         1     NaN         1      NaN         NaN        NaN
153080         U         4     NaN         1      NaN         NaN        NaN
153689         Q         1     NaN         1      NaN         NaN        NaN
153699         U         5     NaN         1      NaN         NaN        NaN

            CNDTN       EXTWALL        ROOF   INTWALL  KITCHENS  FIREPLACES  \
100          Good  Common Brick    Built Up  Hardwood       2.0           7
105     Very Good  Common Brick  Metal- Sms  Hardwood       3.0           6
127          Good  Common Brick    Built Up  Hardwood       1.0           5
128     Very Good   Brick/Stone    Built Up  Hardwood       1.0           4
209          Good  Common Brick    Built Up  Hardwood       2.0           0
...           ...           ...         ...       ...       ...         ...
146499        NaN           NaN         NaN       NaN       NaN           0
148322        NaN           NaN         NaN       NaN       NaN           0
153080        NaN           NaN         NaN       NaN       NaN           3
153689        NaN           NaN         NaN       NaN       NaN           4
153699        NaN           NaN         NaN       NaN       NaN           3

        USECODE  LANDAREA    GIS_LAST_MOD_DTTM       SOURCE  CMPLX_NUM  \
100          24      2778  2018-07-22 18:01:43  Residential        NaN
105          24      1960  2018-07-22 18:01:43  Residential        NaN
127          11      1800  2018-07-22 18:01:43  Residential        NaN
128          11      1960  2018-07-22 18:01:43  Residential        NaN
209          11      2100  2018-07-22 18:01:43  Residential        NaN
...         ...       ...                  ...          ...        ...
146499       17      1324  2018-07-22 18:01:38  Condominium     2893.0
148322       16      5484  2018-07-22 18:01:38  Condominium     4137.0
153080       16      2512  2018-07-22 18:01:38  Condominium     1108.0
153689       16      2512  2018-07-22 18:01:38  Condominium     1108.0
153699       16      2512  2018-07-22 18:01:38  Condominium     1108.0

        LIVING_GBA            FULLADDRESS        CITY STATE  ZIPCODE  \
100            NaN       2023 R STREET NW  WASHINGTON    DC  20009.0
105            NaN       2015 Q STREET NW  WASHINGTON    DC  20009.0
127            NaN  2027 HILLYER PLACE NW  WASHINGTON    DC  20009.0
128            NaN    1627 21ST STREET NW  WASHINGTON    DC  20009.0
209            NaN       1623 S STREET NW  WASHINGTON    DC  20009.0
...            ...                    ...         ...   ...      ...
146499      5013.0                    NaN         NaN   NaN  20007.0
148322      7164.0                    NaN         NaN   NaN  20007.0
153080      3562.0                    NaN         NaN   NaN  20008.0
153689      3573.0                    NaN         NaN   NaN  20008.0
153699      3500.0                    NaN         NaN   NaN  20008.0

              NATIONALGRID   LATITUDE  LONGITUDE ASSESSMENT_NBHD  \
100     18S UJ 22580 09092  38.912809 -77.046320      Old City 2
105     18S UJ 22636 08926  38.911333 -77.045640      Old City 2
127     18S UJ 22586 09004  38.912026 -77.046227      Old City 2
128     18S UJ 22570 09035  38.912278 -77.046421      Old City 2
209     18S UJ 23316 09239  38.914288 -77.037874      Old City 2
...                    ...        ...        ...             ...
146499                 NaN  38.901677 -77.058756      Georgetown
148322                 NaN  38.906620 -77.064330      Georgetown
153080                 NaN  38.914896 -77.049025        Kalorama
153689                 NaN  38.914896 -77.049025        Kalorama
153699                 NaN  38.914896 -77.049025        Kalorama

       ASSESSMENT_SUBNBHD  CENSUS_TRACT CENSUS_BLOCK    WARD SQUARE  \
100      040 D Old City 2        5500.0  005500 1001  Ward 2     92
105      040 D Old City 2        5500.0  005500 1005  Ward 2     93
127      040 D Old City 2        5500.0  005500 1004  Ward 2     93
128      040 D Old City 2        5500.0  005500 1004  Ward 2     93
209      040 D Old City 2        4201.0  004201 1006  Ward 2    177
...                   ...           ...          ...     ...    ...
146499   025 I Georgetown         100.0          NaN  Ward 2   1171
148322   025 E Georgetown         202.0          NaN  Ward 2   1218
153080     029 A Kalorama        4100.0          NaN  Ward 2   2529
153689     029 A Kalorama        4100.0          NaN  Ward 2   2529
153699     029 A Kalorama        4100.0          NaN  Ward 2   2529

                X          Y QUADRANT  AC1  QUALIFIED1  GRADE1  CNDTN1  WARD1  \
100    -77.046148  38.913145       NW    1           0     7.0     4.0    2.0
105    -77.045889  38.912003       NW    1           1     7.0     6.0    2.0
127    -77.045889  38.912003       NW    1           1     7.0     4.0    2.0
128    -77.045889  38.912003       NW    1           0     8.0     6.0    2.0
209    -77.037221  38.915033       NW    1           1     7.0     4.0    2.0
...           ...        ...      ...  ...         ...     ...     ...    ...
146499 -77.058759  38.901684       NW    1           1     NaN     NaN    2.0
148322 -77.064333  38.906628       NW    1           1     NaN     NaN    2.0
153080 -77.049028  38.914903       NW    1           0     NaN     NaN    2.0
153689 -77.049028  38.914903       NW    1           1     NaN     NaN    2.0
153699 -77.049028  38.914903       NW    1           0     NaN     NaN    2.0

        SALEYEAR  SALEMONTH   PRICE2022  zscoreROOMS  zscoreBEDRM  \
100       2013.0        4.0         NaN     1.838035     2.564588
105       2016.0        1.0  2890500.00     1.456087     2.564588
127       2008.0        6.0  2573700.00     1.456087     1.789951
128       2015.0        9.0         NaN     2.219983     1.789951
209       2008.0        3.0  1973400.00     1.456087     2.564588
...          ...        ...         ...          ...          ...
146499    2010.0        5.0  6120000.00     1.456087     1.015314
148322    2013.0        8.0  5190840.52     0.310243     1.789951
153080    2016.0        8.0         NaN     1.456087     1.789951
153689    1998.0        5.0  1647100.00     1.456087     1.015314
153699    2017.0        4.0         NaN     1.456087     1.789951

        zscoreFIREPLACES  zscoreKITCHENS  zscoreLANDAREA  zscoreGBA  \
100             0.006176             NaN        0.143137        NaN
105             0.004833             NaN        0.139613        NaN
127             0.003490             NaN        0.194919        NaN
128             0.002147             NaN        0.139613        NaN
209             0.003225             NaN        0.091221        NaN
...                  ...             ...             ...        ...
146499          0.003225             NaN        0.359453        NaN
148322          0.003225             NaN        1.078493        NaN
153080          0.000804             NaN        0.051191        NaN
153689          0.002147             NaN        0.051191        NaN
153699          0.000804             NaN        0.051191        NaN

        zscoreLIVING_GBA  zscoreBATH
100                  NaN    3.723838
105                  NaN    3.723838
127                  NaN    3.723838
128                  NaN    3.723838
209                  NaN    3.723838
...                  ...         ...
146499               NaN    3.723838
148322               NaN    4.866344
153080               NaN    3.723838
153689               NaN    3.723838
153699               NaN    3.723838

[1004 rows x 64 columns]

In [34]:
# 9. half-bathroom

# creating new column with z-scores
df2["zscoreHFBATH"] = np.abs(stats.zscore(df2["HF_BATHRM"]))

# identifying outliers with z-scores > 3
outlierHFBATH = df2.loc[df2["zscoreHFBATH"]>3]

print(outlierHFBATH)

# 201 outliers have 3+ half-bathrooms (median is 0)

# removing outliers
df2.drop(df2.loc[df2["zscoreHFBATH"]>3].index, inplace = True)

        Unnamed: 0  BATHRM  HF_BATHRM           HEAT  NUM_UNITS  ROOMS  BEDRM  \
93              93       2          3  Hot Water Rad        1.0     12      6
112            112       4          4  Hot Water Rad        2.0     11      6
1098          1098       1          3  Hot Water Rad        1.0      5      3
2145          2145       2          3      Warm Cool        2.0     10      5
3036          3036       2          3      Warm Cool        1.0      8      3
...            ...     ...        ...            ...        ...    ...    ...
153691      153691       3          3     Forced Air        NaN     10      4
153693      153693       3          3     Forced Air        NaN     10      4
153694      153694       3          3     Forced Air        NaN     10      4
153696      153696       3          3     Forced Air        NaN     10      3
153697      153697       3          3     Forced Air        NaN     10      4

           AYB  YR_RMDL   EYB  STORIES             SALEDATE      PRICE  \
93      1898.0   2000.0  1967      2.0  2009-10-30 00:00:00        NaN
112     1897.0   2007.0  1987      4.0  2007-12-13 00:00:00  2834050.0
1098    1900.0      NaN  1947      2.0  1993-06-03 00:00:00        NaN
2145    1885.0   2003.0  1972      3.0  2014-11-20 00:00:00        NaN
3036    1900.0   2010.0  1957      2.0  2004-02-11 00:00:00        NaN
...        ...      ...   ...      ...                  ...        ...
153691  1976.0   1976.0  1976      NaN  2013-02-26 00:00:00  2000000.0
153693  1976.0   1976.0  1976      NaN  2017-10-20 00:00:00  2425000.0
153694  1976.0      NaN  1976      NaN  2012-12-28 00:00:00        NaN
153696  1976.0   1976.0  1976      NaN  2009-05-12 00:00:00        NaN
153697  1976.0   1976.0  1976      NaN  2006-04-03 00:00:00  2350000.0

       QUALIFIED  SALE_NUM     GBA  BLDG_NUM    STYLE      STRUCT  \
93             U         1  3368.0         1  2 Story  Row Inside
112            Q         1  3263.0         1  3 Story     Row End
1098           U         1  1508.0         1  2 Story  Row Inside
2145           U         6  2688.0         1  3 Story  Row Inside
3036           U         1  1476.0         1  2 Story  Row Inside
...          ...       ...     ...       ...      ...         ...
153691         Q         1     NaN         1      NaN         NaN
153693         Q         2     NaN         1      NaN         NaN
153694         U         1     NaN         1      NaN         NaN
153696         U         1     NaN         1      NaN         NaN
153697         Q         1     NaN         1      NaN         NaN

                GRADE      CNDTN       EXTWALL        ROOF     INTWALL  \
93      Above Average       Good  Common Brick    Built Up    Hardwood
112         Very Good  Very Good  Common Brick    Built Up    Hardwood
1098    Above Average       Poor  Common Brick  Metal- Sms    Hardwood
2145        Very Good       Good  Common Brick  Metal- Sms    Hardwood
3036    Above Average    Average  Common Brick    Built Up  Wood Floor
...               ...        ...           ...         ...         ...
153691            NaN        NaN           NaN         NaN         NaN
153693            NaN        NaN           NaN         NaN         NaN
153694            NaN        NaN           NaN         NaN         NaN
153696            NaN        NaN           NaN         NaN         NaN
153697            NaN        NaN           NaN         NaN         NaN

        KITCHENS  FIREPLACES  USECODE  LANDAREA    GIS_LAST_MOD_DTTM  \
93           1.0           0       11      2124  2018-07-22 18:01:43
112          2.0           6       24      1800  2018-07-22 18:01:43
1098         1.0           0       11      1583  2018-07-22 18:01:43
2145         2.0           3       24      1200  2018-07-22 18:01:43
3036         1.0           1       11      1552  2018-07-22 18:01:43
...          ...         ...      ...       ...                  ...
153691       NaN           3       16      2512  2018-07-22 18:01:38
153693       NaN           3       16      2512  2018-07-22 18:01:38
153694       NaN           3       16      2512  2018-07-22 18:01:38
153696       NaN           3       16      2512  2018-07-22 18:01:38
153697       NaN           3       16      2512  2018-07-22 18:01:38

             SOURCE  CMPLX_NUM  LIVING_GBA            FULLADDRESS        CITY  \
93      Residential        NaN         NaN       2152 F STREET NW  WASHINGTON
112     Residential        NaN         NaN  2028 HILLYER PLACE NW  WASHINGTON
1098    Residential        NaN         NaN        914 W STREET NW  WASHINGTON
2145    Residential        NaN         NaN       1702 P STREET NW  WASHINGTON
3036    Residential        NaN         NaN  1633 MARION STREET NW  WASHINGTON
...             ...        ...         ...                    ...         ...
153691  Condominium     1108.0      3500.0                    NaN         NaN
153693  Condominium     1108.0      3500.0                    NaN         NaN
153694  Condominium     1108.0      3500.0                    NaN         NaN
153696  Condominium     1108.0      3500.0                    NaN         NaN
153697  Condominium     1108.0      3500.0                    NaN         NaN

       STATE  ZIPCODE        NATIONALGRID   LATITUDE  LONGITUDE  \
93        DC  20037.0  18S UJ 22352 07359  38.897164 -77.048508
112       DC  20009.0  18S UJ 22592 08968  38.911697 -77.046156
1098      DC  20001.0  18S UJ 24412 09741  38.919030 -77.025375
2145      DC  20036.0  18S UJ 23224 08705  38.909454 -77.038796
3036      DC  20001.0  18S UJ 24798 08963  38.912099 -77.020723
...      ...      ...                 ...        ...        ...
153691   NaN  20008.0                 NaN  38.914896 -77.049025
153693   NaN  20008.0                 NaN  38.914896 -77.049025
153694   NaN  20008.0                 NaN  38.914896 -77.049025
153696   NaN  20008.0                 NaN  38.914896 -77.049025
153697   NaN  20008.0                 NaN  38.914896 -77.049025

       ASSESSMENT_NBHD ASSESSMENT_SUBNBHD  CENSUS_TRACT CENSUS_BLOCK    WARD  \
93        Foggy Bottom                NaN       10800.0  010800 3004  Ward 2
112         Old City 2   040 D Old City 2        5500.0  005500 1005  Ward 2
1098        Old City 2   040 F Old City 2        4400.0  004400 1011  Ward 1
2145        Old City 2   040 D Old City 2        5301.0  005301 3001  Ward 2
3036        Old City 2   040 B Old City 2        4801.0  004801 1017  Ward 6
...                ...                ...           ...          ...     ...
153691        Kalorama     029 A Kalorama        4100.0          NaN  Ward 2
153693        Kalorama     029 A Kalorama        4100.0          NaN  Ward 2
153694        Kalorama     029 A Kalorama        4100.0          NaN  Ward 2
153696        Kalorama     029 A Kalorama        4100.0          NaN  Ward 2
153697        Kalorama     029 A Kalorama        4100.0          NaN  Ward 2

       SQUARE          X          Y QUADRANT  AC1  QUALIFIED1  GRADE1  CNDTN1  \
93         81 -77.047880  38.897076       NW    0           0     6.0     4.0
112        93 -77.045889  38.912003       NW    1           1     7.0     6.0
1098      358 -77.025495  38.918754       NW    0           0     6.0     2.0
2145      157 -77.039695  38.909451       NW    1           0     7.0     4.0
3036      444 -77.020680  38.911687       NW    1           0     6.0     5.0
...       ...        ...        ...      ...  ...         ...     ...     ...
153691   2529 -77.049028  38.914903       NW    1           1     NaN     NaN
153693   2529 -77.049028  38.914903       NW    1           1     NaN     NaN
153694   2529 -77.049028  38.914903       NW    1           0     NaN     NaN
153696   2529 -77.049028  38.914903       NW    1           0     NaN     NaN
153697   2529 -77.049028  38.914903       NW    1           1     NaN     NaN

        WARD1  SALEYEAR  SALEMONTH  PRICE2022  zscoreROOMS  zscoreBEDRM  \
93        2.0    2009.0       10.0        NaN     2.219983     2.564588
112       2.0    2007.0       12.0  4052691.5     1.838035     2.564588
1098      1.0    1993.0        6.0        NaN     0.453654     0.240677
2145      2.0    2014.0       11.0        NaN     1.456087     1.789951
3036      6.0    2004.0        2.0        NaN     0.692191     0.240677
...       ...       ...        ...        ...          ...          ...
153691    2.0    2013.0        2.0  2540000.0     1.456087     1.015314
153693    2.0    2017.0       10.0  2934250.0     1.456087     1.015314
153694    2.0    2012.0       12.0        NaN     1.456087     1.015314
153696    2.0    2009.0        5.0        NaN     1.456087     0.240677
153697    2.0    2006.0        4.0  3454500.0     1.456087     1.015314

        zscoreFIREPLACES  zscoreKITCHENS  zscoreLANDAREA  zscoreGBA  \
93              0.003225             NaN        0.082925        NaN
112             0.004833             NaN        0.194919        NaN
1098            0.003225             NaN        0.269927        NaN
2145            0.000804             NaN        0.402315        NaN
3036            0.001882             NaN        0.280643        NaN
...                  ...             ...             ...        ...
153691          0.000804             NaN        0.051191        NaN
153693          0.000804             NaN        0.051191        NaN
153694          0.000804             NaN        0.051191        NaN
153696          0.000804             NaN        0.051191        NaN
153697          0.000804             NaN        0.051191        NaN

        zscoreLIVING_GBA  zscoreBATH  zscoreHFBATH
93                   NaN    0.296322      4.457269
112                  NaN    2.581333      6.202616
1098                 NaN    0.846184      4.457269
2145                 NaN    0.296322      4.457269
3036                 NaN    0.296322      4.457269
...                  ...         ...           ...
153691               NaN    1.438827      4.457269
153693               NaN    1.438827      4.457269
153694               NaN    1.438827      4.457269
153696               NaN    1.438827      4.457269
153697               NaN    1.438827      4.457269

[201 rows x 65 columns]

In [35]:
# 10. price2022

# creating new column with z-scores
df2["zscorePRICE2022"] = np.abs(stats.zscore(df2["PRICE2022"]))

# identifying outliers with z-scores > 3
outlierPRICE2022 = df2.loc[df2["zscorePRICE2022"]>3]

print(outlierPRICE2022)

# no price outliers!

Empty DataFrame
Columns: [Unnamed: 0, BATHRM, HF_BATHRM, HEAT, NUM_UNITS, ROOMS, BEDRM, AYB, YR_RMDL, EYB, STORIES, SALEDATE, PRICE, QUALIFIED, SALE_NUM, GBA, BLDG_NUM, STYLE, STRUCT, GRADE, CNDTN, EXTWALL, ROOF, INTWALL, KITCHENS, FIREPLACES, USECODE, LANDAREA, GIS_LAST_MOD_DTTM, SOURCE, CMPLX_NUM, LIVING_GBA, FULLADDRESS, CITY, STATE, ZIPCODE, NATIONALGRID, LATITUDE, LONGITUDE, ASSESSMENT_NBHD, ASSESSMENT_SUBNBHD, CENSUS_TRACT, CENSUS_BLOCK, WARD, SQUARE, X, Y, QUADRANT, AC1, QUALIFIED1, GRADE1, CNDTN1, WARD1, SALEYEAR, SALEMONTH, PRICE2022, zscoreROOMS, zscoreBEDRM, zscoreFIREPLACES, zscoreKITCHENS, zscoreLANDAREA, zscoreGBA, zscoreLIVING_GBA, zscoreBATH, zscoreHFBATH, zscorePRICE2022]
Index: []

In [36]:
df2["FIREPLACES"].groupby(df2["SOURCE"]).mean()

SOURCE
Condominium    0.250843
Residential    0.570440
Name: FIREPLACES, dtype: float64

In [37]:
df2.loc[(df2["SOURCE"] == "Condominium") & (df2["FIREPLACES"]>10)]

,Unnamed: 0,BATHRM,HF_BATHRM,HEAT,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,EYB,STORIES,SALEDATE,PRICE,QUALIFIED,SALE_NUM,GBA,BLDG_NUM,STYLE,STRUCT,GRADE,CNDTN,EXTWALL,ROOF,INTWALL,KITCHENS,FIREPLACES,USECODE,LANDAREA,GIS_LAST_MOD_DTTM,SOURCE,CMPLX_NUM,LIVING_GBA,FULLADDRESS,CITY,STATE,ZIPCODE,NATIONALGRID,LATITUDE,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT,AC1,QUALIFIED1,GRADE1,CNDTN1,WARD1,SALEYEAR,SALEMONTH,PRICE2022,zscoreROOMS,zscoreBEDRM,zscoreFIREPLACES,zscoreKITCHENS,zscoreLANDAREA,zscoreGBA,zscoreLIVING_GBA,zscoreBATH,zscoreHFBATH,zscorePRICE2022
111896,111896,1,0,Forced Air,NaN,4,1,1960.0,1978.0,1960,NaN,2016-11-17 00:00:00,260000.0,U,3,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1601,17,634,2018-07-22 18:01:38,Condominium,2423.0,1045.0,NaN,NaN,NaN,20016.0,NaN,38.934668,-77.084688,Wesley Heights,054 B Wesley Heights,801.0,NaN,Ward 3,1601,-77.084691,38.934676,NW,1,0,NaN,NaN,3.0,2016.0,11.0,319800.00,0.835602,1.308598,2.146898,NaN,0.597959,NaN,NaN,0.846184,0.778771,NaN
115370,115370,1,0,Forced Air,NaN,2,0,1962.0,1980.0,1962,NaN,2018-04-19 00:00:00,275000.0,Q,4,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,922,17,147,2018-07-22 18:01:38,Condominium,2010.0,499.0,NaN,NaN,NaN,20037.0,NaN,38.901637,-77.052481,Foggy Bottom,NaN,5600.0,NaN,Ward 2,28,-77.052484,38.901645,NW,1,1,NaN,NaN,2.0,2018.0,4.0,324500.00,1.599498,2.083235,1.235010,NaN,0.766295,NaN,NaN,0.846184,0.778771,NaN
134069,134069,1,0,Forced Air,NaN,3,1,1963.0,2006.0,1963,NaN,2015-11-17 00:00:00,53969391.0,U,2,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,200,17,117,2018-07-22 18:01:38,Condominium,3100.0,569.0,NaN,NaN,NaN,20005.0,NaN,38.904456,-77.031057,Central-tri 3,NaN,10100.0,NaN,Ward 2,247,-77.031060,38.904463,NW,1,0,NaN,NaN,2.0,2015.0,11.0,67461738.75,1.217550,1.308598,0.265373,NaN,0.776665,NaN,NaN,0.846184,0.778771,NaN
146813,146813,2,1,Forced Air,NaN,5,2,1874.0,2007.0,1919,NaN,2017-06-22 00:00:00,1065000.0,Q,3,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1017,16,1361,2018-07-22 18:01:38,Condominium,2918.0,1665.0,NaN,NaN,NaN,20002.0,NaN,38.900561,-77.002646,Old City 1,039 L Old City 1,10600.0,NaN,Ward 6,751,-77.002648,38.900568,NE,1,1,NaN,NaN,6.0,2017.0,6.0,1288650.00,0.453654,0.533960,1.362593,NaN,0.346664,NaN,NaN,0.296322,0.966576,NaN

In [38]:
#removing few properties with bizarre fireplace values

df2.drop(labels = [111896, 115370, 134069, 146813], axis = 0, inplace = True)
df2.describe()

,Unnamed: 0,BATHRM,HF_BATHRM,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,EYB,STORIES,PRICE,SALE_NUM,GBA,BLDG_NUM,KITCHENS,FIREPLACES,USECODE,LANDAREA,CMPLX_NUM,LIVING_GBA,ZIPCODE,LATITUDE,LONGITUDE,CENSUS_TRACT,X,Y,AC1,QUALIFIED1,GRADE1,CNDTN1,WARD1,SALEYEAR,SALEMONTH,PRICE2022,zscoreROOMS,zscoreBEDRM,zscoreFIREPLACES,zscoreKITCHENS,zscoreLANDAREA,zscoreGBA,zscoreLIVING_GBA,zscoreBATH,zscoreHFBATH,zscorePRICE2022
count,152588.000000,152588.000000,152588.000000,100384.000000,152588.000000,152588.000000,152345.000000,77433.000000,152588.000000,100346.000000,9.470700e+04,152588.000000,100384.000000,152588.000000,100383.000000,152588.000000,152588.000000,152588.000000,52204.000000,52204.000000,152587.000000,152587.000000,152587.000000,152587.000000,152385.000000,152385.000000,152588.000000,152588.000000,100384.000000,100384.000000,152587.000000,126990.000000,126990.000000,9.470600e+04,152588.000000,152588.000000,152588.000000,0.0,152588.000000,0.0,0.0,152588.000000,152588.000000,0.0
mean,80760.085996,1.716957,0.442512,1.151040,5.932105,2.619806,1942.085444,1998.094830,1963.277237,2.081034,9.141169e+05,1.683697,1600.024008,1.000249,1.170039,0.436594,14.168539,2149.102308,2371.885775,886.062524,20012.717322,38.914551,-77.015938,5405.661531,-77.015971,38.914546,0.721557,0.483131,5.470882,4.716210,4.286735,2009.445200,6.581786,1.249857e+06,0.663055,0.748524,0.002684,NaN,0.548384,NaN,NaN,0.798351,0.917048,NaN
std,46006.309142,0.829121,0.563508,0.483636,2.210493,1.206567,33.710725,16.691119,25.027095,3.017617,7.179199e+06,1.288429,627.091633,0.016589,0.496552,0.720612,3.589777,2030.252202,1114.357363,407.790453,15.888925,0.031617,0.040513,3352.835107,0.040509,0.031583,0.448234,0.499717,1.227866,0.668135,2.111203,6.685243,3.335828,1.017958e+07,0.531715,0.562299,0.000832,NaN,0.444159,NaN,NaN,0.510582,0.355478,NaN
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1765.000000,20.000000,1800.000000,0.000000,1.000000e+00,1.000000,0.000000,1.000000,0.000000,0.000000,11.000000,0.000000,1001.000000,0.000000,20001.000000,38.819731,-77.113909,100.000000,-77.113135,38.820576,0.000000,0.000000,1.000000,1.000000,1.000000,1947.000000,1.000000,1.210000e+00,0.071706,0.240677,0.000539,NaN,0.000033,NaN,NaN,0.296322,0.778771,NaN
25%,41645.750000,1.000000,0.000000,1.000000,4.000000,2.000000,1918.000000,1984.000000,1954.000000,2.000000,2.377770e+05,1.000000,1180.000000,1.000000,1.000000,0.000000,11.000000,646.000000,1502.000000,616.000000,20005.000000,38.895296,-77.041679,2201.000000,-77.041757,38.895341,0.000000,0.000000,5.000000,4.000000,2.000000,2005.000000,4.000000,3.320318e+05,0.310243,0.240677,0.001882,NaN,0.236398,NaN,NaN,0.296322,0.778771,NaN
50%,81442.500000,2.000000,0.000000,1.000000,6.000000,3.000000,1937.000000,2004.000000,1963.000000,2.000000,3.980000e+05,1.000000,1440.000000,1.000000,1.000000,0.000000,13.000000,1600.000000,2265.000000,783.000000,20011.000000,38.914930,-77.019080,5301.000000,-77.019002,38.914956,1.000000,0.000000,5.000000,5.000000,4.000000,2011.000000,6.000000,5.372000e+05,0.692191,0.533960,0.003225,NaN,0.480089,NaN,NaN,0.846184,0.778771,NaN
75%,120780.250000,2.000000,1.000000,1.000000,7.000000,3.000000,1960.000000,2010.000000,1974.000000,2.000000,6.390000e+05,2.000000,1845.000000,1.000000,1.000000,1.000000,16.000000,2816.000000,2910.000000,1059.250000,20018.000000,38.935916,-76.988554,8302.000000,-76.988775,38.935976,1.000000,1.000000,6.000000,5.000000,6.000000,2015.000000,9.000000,8.385000e+05,1.074139,1.015314,0.003225,NaN,0.731729,NaN,NaN,0.846184,0.966576,NaN
max,158956.000000,4.000000,2.000000,4.000000,14.000000,6.000000,2018.000000,2019.000000,2018.000000,826.000000,1.374275e+08,15.000000,8756.000000,3.000000,4.000000,11.000000,117.000000,11036.000000,5621.000000,6116.000000,20392.000000,38.995435,-76.909758,11100.000000,-76.910511,38.993646,1.000000,1.000000,13.000000,7.000000,8.000000,2018.000000,12.000000,1.965214e+08,2.983879,2.564588,0.011548,NaN,2.997598,NaN,NaN,2.581333,2.711923,NaN

In [39]:
df2.drop(columns = "Unnamed: 0", inplace = True)
df2.describe()

,BATHRM,HF_BATHRM,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,EYB,STORIES,PRICE,SALE_NUM,GBA,BLDG_NUM,KITCHENS,FIREPLACES,USECODE,LANDAREA,CMPLX_NUM,LIVING_GBA,ZIPCODE,LATITUDE,LONGITUDE,CENSUS_TRACT,X,Y,AC1,QUALIFIED1,GRADE1,CNDTN1,WARD1,SALEYEAR,SALEMONTH,PRICE2022,zscoreROOMS,zscoreBEDRM,zscoreFIREPLACES,zscoreKITCHENS,zscoreLANDAREA,zscoreGBA,zscoreLIVING_GBA,zscoreBATH,zscoreHFBATH,zscorePRICE2022
count,152588.000000,152588.000000,100384.000000,152588.000000,152588.000000,152345.000000,77433.000000,152588.000000,100346.000000,9.470700e+04,152588.000000,100384.000000,152588.000000,100383.000000,152588.000000,152588.000000,152588.000000,52204.000000,52204.000000,152587.000000,152587.000000,152587.000000,152587.000000,152385.000000,152385.000000,152588.000000,152588.000000,100384.000000,100384.000000,152587.000000,126990.000000,126990.000000,9.470600e+04,152588.000000,152588.000000,152588.000000,0.0,152588.000000,0.0,0.0,152588.000000,152588.000000,0.0
mean,1.716957,0.442512,1.151040,5.932105,2.619806,1942.085444,1998.094830,1963.277237,2.081034,9.141169e+05,1.683697,1600.024008,1.000249,1.170039,0.436594,14.168539,2149.102308,2371.885775,886.062524,20012.717322,38.914551,-77.015938,5405.661531,-77.015971,38.914546,0.721557,0.483131,5.470882,4.716210,4.286735,2009.445200,6.581786,1.249857e+06,0.663055,0.748524,0.002684,NaN,0.548384,NaN,NaN,0.798351,0.917048,NaN
std,0.829121,0.563508,0.483636,2.210493,1.206567,33.710725,16.691119,25.027095,3.017617,7.179199e+06,1.288429,627.091633,0.016589,0.496552,0.720612,3.589777,2030.252202,1114.357363,407.790453,15.888925,0.031617,0.040513,3352.835107,0.040509,0.031583,0.448234,0.499717,1.227866,0.668135,2.111203,6.685243,3.335828,1.017958e+07,0.531715,0.562299,0.000832,NaN,0.444159,NaN,NaN,0.510582,0.355478,NaN
min,0.000000,0.000000,0.000000,0.000000,0.000000,1765.000000,20.000000,1800.000000,0.000000,1.000000e+00,1.000000,0.000000,1.000000,0.000000,0.000000,11.000000,0.000000,1001.000000,0.000000,20001.000000,38.819731,-77.113909,100.000000,-77.113135,38.820576,0.000000,0.000000,1.000000,1.000000,1.000000,1947.000000,1.000000,1.210000e+00,0.071706,0.240677,0.000539,NaN,0.000033,NaN,NaN,0.296322,0.778771,NaN
25%,1.000000,0.000000,1.000000,4.000000,2.000000,1918.000000,1984.000000,1954.000000,2.000000,2.377770e+05,1.000000,1180.000000,1.000000,1.000000,0.000000,11.000000,646.000000,1502.000000,616.000000,20005.000000,38.895296,-77.041679,2201.000000,-77.041757,38.895341,0.000000,0.000000,5.000000,4.000000,2.000000,2005.000000,4.000000,3.320318e+05,0.310243,0.240677,0.001882,NaN,0.236398,NaN,NaN,0.296322,0.778771,NaN
50%,2.000000,0.000000,1.000000,6.000000,3.000000,1937.000000,2004.000000,1963.000000,2.000000,3.980000e+05,1.000000,1440.000000,1.000000,1.000000,0.000000,13.000000,1600.000000,2265.000000,783.000000,20011.000000,38.914930,-77.019080,5301.000000,-77.019002,38.914956,1.000000,0.000000,5.000000,5.000000,4.000000,2011.000000,6.000000,5.372000e+05,0.692191,0.533960,0.003225,NaN,0.480089,NaN,NaN,0.846184,0.778771,NaN
75%,2.000000,1.000000,1.000000,7.000000,3.000000,1960.000000,2010.000000,1974.000000,2.000000,6.390000e+05,2.000000,1845.000000,1.000000,1.000000,1.000000,16.000000,2816.000000,2910.000000,1059.250000,20018.000000,38.935916,-76.988554,8302.000000,-76.988775,38.935976,1.000000,1.000000,6.000000,5.000000,6.000000,2015.000000,9.000000,8.385000e+05,1.074139,1.015314,0.003225,NaN,0.731729,NaN,NaN,0.846184,0.966576,NaN
max,4.000000,2.000000,4.000000,14.000000,6.000000,2018.000000,2019.000000,2018.000000,826.000000,1.374275e+08,15.000000,8756.000000,3.000000,4.000000,11.000000,117.000000,11036.000000,5621.000000,6116.000000,20392.000000,38.995435,-76.909758,11100.000000,-76.910511,38.993646,1.000000,1.000000,13.000000,7.000000,8.000000,2018.000000,12.000000,1.965214e+08,2.983879,2.564588,0.011548,NaN,2.997598,NaN,NaN,2.581333,2.711923,NaN

In [40]:
df2.drop(columns = ["zscoreROOMS", "zscoreBEDRM", "zscoreFIREPLACES", "zscoreKITCHENS", "zscoreLANDAREA", "zscoreGBA", "zscoreLIVING_GBA", "zscoreBATH", "zscoreHFBATH"],  inplace = True)
df2.describe()

,BATHRM,HF_BATHRM,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,EYB,STORIES,PRICE,SALE_NUM,GBA,BLDG_NUM,KITCHENS,FIREPLACES,USECODE,LANDAREA,CMPLX_NUM,LIVING_GBA,ZIPCODE,LATITUDE,LONGITUDE,CENSUS_TRACT,X,Y,AC1,QUALIFIED1,GRADE1,CNDTN1,WARD1,SALEYEAR,SALEMONTH,PRICE2022,zscorePRICE2022
count,152588.000000,152588.000000,100384.000000,152588.000000,152588.000000,152345.000000,77433.000000,152588.000000,100346.000000,9.470700e+04,152588.000000,100384.000000,152588.000000,100383.000000,152588.000000,152588.000000,152588.000000,52204.000000,52204.000000,152587.000000,152587.000000,152587.000000,152587.000000,152385.000000,152385.000000,152588.000000,152588.000000,100384.000000,100384.000000,152587.000000,126990.000000,126990.000000,9.470600e+04,0.0
mean,1.716957,0.442512,1.151040,5.932105,2.619806,1942.085444,1998.094830,1963.277237,2.081034,9.141169e+05,1.683697,1600.024008,1.000249,1.170039,0.436594,14.168539,2149.102308,2371.885775,886.062524,20012.717322,38.914551,-77.015938,5405.661531,-77.015971,38.914546,0.721557,0.483131,5.470882,4.716210,4.286735,2009.445200,6.581786,1.249857e+06,NaN
std,0.829121,0.563508,0.483636,2.210493,1.206567,33.710725,16.691119,25.027095,3.017617,7.179199e+06,1.288429,627.091633,0.016589,0.496552,0.720612,3.589777,2030.252202,1114.357363,407.790453,15.888925,0.031617,0.040513,3352.835107,0.040509,0.031583,0.448234,0.499717,1.227866,0.668135,2.111203,6.685243,3.335828,1.017958e+07,NaN
min,0.000000,0.000000,0.000000,0.000000,0.000000,1765.000000,20.000000,1800.000000,0.000000,1.000000e+00,1.000000,0.000000,1.000000,0.000000,0.000000,11.000000,0.000000,1001.000000,0.000000,20001.000000,38.819731,-77.113909,100.000000,-77.113135,38.820576,0.000000,0.000000,1.000000,1.000000,1.000000,1947.000000,1.000000,1.210000e+00,NaN
25%,1.000000,0.000000,1.000000,4.000000,2.000000,1918.000000,1984.000000,1954.000000,2.000000,2.377770e+05,1.000000,1180.000000,1.000000,1.000000,0.000000,11.000000,646.000000,1502.000000,616.000000,20005.000000,38.895296,-77.041679,2201.000000,-77.041757,38.895341,0.000000,0.000000,5.000000,4.000000,2.000000,2005.000000,4.000000,3.320318e+05,NaN
50%,2.000000,0.000000,1.000000,6.000000,3.000000,1937.000000,2004.000000,1963.000000,2.000000,3.980000e+05,1.000000,1440.000000,1.000000,1.000000,0.000000,13.000000,1600.000000,2265.000000,783.000000,20011.000000,38.914930,-77.019080,5301.000000,-77.019002,38.914956,1.000000,0.000000,5.000000,5.000000,4.000000,2011.000000,6.000000,5.372000e+05,NaN
75%,2.000000,1.000000,1.000000,7.000000,3.000000,1960.000000,2010.000000,1974.000000,2.000000,6.390000e+05,2.000000,1845.000000,1.000000,1.000000,1.000000,16.000000,2816.000000,2910.000000,1059.250000,20018.000000,38.935916,-76.988554,8302.000000,-76.988775,38.935976,1.000000,1.000000,6.000000,5.000000,6.000000,2015.000000,9.000000,8.385000e+05,NaN
max,4.000000,2.000000,4.000000,14.000000,6.000000,2018.000000,2019.000000,2018.000000,826.000000,1.374275e+08,15.000000,8756.000000,3.000000,4.000000,11.000000,117.000000,11036.000000,5621.000000,6116.000000,20392.000000,38.995435,-76.909758,11100.000000,-76.910511,38.993646,1.000000,1.000000,13.000000,7.000000,8.000000,2018.000000,12.000000,1.965214e+08,NaN

In [41]:
df2.loc[(df2["YR_RMDL"] <1700)]

,BATHRM,HF_BATHRM,HEAT,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,EYB,STORIES,SALEDATE,PRICE,QUALIFIED,SALE_NUM,GBA,BLDG_NUM,STYLE,STRUCT,GRADE,CNDTN,EXTWALL,ROOF,INTWALL,KITCHENS,FIREPLACES,USECODE,LANDAREA,GIS_LAST_MOD_DTTM,SOURCE,CMPLX_NUM,LIVING_GBA,FULLADDRESS,CITY,STATE,ZIPCODE,NATIONALGRID,LATITUDE,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT,AC1,QUALIFIED1,GRADE1,CNDTN1,WARD1,SALEYEAR,SALEMONTH,PRICE2022,zscorePRICE2022
56600,1,1,Forced Air,1.0,8,4,1929.0,20.0,1967,2.0,2015-08-06 00:00:00,335000.0,Q,2,1640.0,1,2 Story,Semi-Detached,Above Average,Good,Common Brick,Built Up,Hardwood,1.0,1,13,2380,2018-07-22 18:01:43,Residential,NaN,NaN,617 ONEIDA PLACE NW,WASHINGTON,DC,20011.0,18S UJ 24811 14526,38.962197,-77.021993,Brightwood,006 E Brightwood,1901.0,001901 1000,Ward 4,3202,-77.021133,38.962204,NW,1,1,6.0,4.0,4.0,2015.0,8.0,418750.0,NaN

In [42]:
# drop one property with strange yr_rmdl value

df2.drop(labels = [56600], axis = 0, inplace = True)
df2.describe()

,BATHRM,HF_BATHRM,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,EYB,STORIES,PRICE,SALE_NUM,GBA,BLDG_NUM,KITCHENS,FIREPLACES,USECODE,LANDAREA,CMPLX_NUM,LIVING_GBA,ZIPCODE,LATITUDE,LONGITUDE,CENSUS_TRACT,X,Y,AC1,QUALIFIED1,GRADE1,CNDTN1,WARD1,SALEYEAR,SALEMONTH,PRICE2022,zscorePRICE2022
count,152587.000000,152587.000000,100383.000000,152587.000000,152587.000000,152344.000000,77432.000000,152587.000000,100345.000000,9.470600e+04,152587.000000,100383.000000,152587.000000,100382.000000,152587.000000,152587.000000,152587.000000,52204.000000,52204.000000,152586.000000,152586.000000,152586.000000,152586.000000,152384.000000,152384.000000,152587.000000,152587.000000,100383.000000,100383.000000,152586.000000,126989.000000,126989.000000,9.470500e+04,0.0
mean,1.716961,0.442508,1.151042,5.932091,2.619797,1942.085530,1998.120377,1963.277212,2.081035,9.141230e+05,1.683695,1600.023610,1.000249,1.170040,0.436590,14.168546,2149.100795,2371.885775,886.062524,20012.717333,38.914550,-77.015938,5405.684499,-77.015971,38.914546,0.721556,0.483128,5.470877,4.716217,4.286737,2009.445157,6.581775,1.249866e+06,NaN
std,0.829122,0.563508,0.483638,2.210494,1.206566,33.710819,15.101752,25.027175,3.017632,7.179237e+06,1.288433,627.094744,0.016589,0.496555,0.720613,3.589788,2030.258769,1114.357363,407.790453,15.888977,0.031616,0.040513,3352.834090,0.040509,0.031583,0.448235,0.499717,1.227871,0.668134,2.111209,6.685251,3.335839,1.017963e+07,NaN
min,0.000000,0.000000,0.000000,0.000000,0.000000,1765.000000,1880.000000,1800.000000,0.000000,1.000000e+00,1.000000,0.000000,1.000000,0.000000,0.000000,11.000000,0.000000,1001.000000,0.000000,20001.000000,38.819731,-77.113909,100.000000,-77.113135,38.820576,0.000000,0.000000,1.000000,1.000000,1.000000,1947.000000,1.000000,1.210000e+00,NaN
25%,1.000000,0.000000,1.000000,4.000000,2.000000,1918.000000,1984.000000,1954.000000,2.000000,2.377735e+05,1.000000,1180.000000,1.000000,1.000000,0.000000,11.000000,646.000000,1502.000000,616.000000,20005.000000,38.895296,-77.041679,2201.000000,-77.041757,38.895341,0.000000,0.000000,5.000000,4.000000,2.000000,2005.000000,4.000000,3.320240e+05,NaN
50%,2.000000,0.000000,1.000000,6.000000,3.000000,1937.000000,2004.000000,1963.000000,2.000000,3.980000e+05,1.000000,1440.000000,1.000000,1.000000,0.000000,13.000000,1600.000000,2265.000000,783.000000,20011.000000,38.914930,-77.019080,5301.000000,-77.019002,38.914956,1.000000,0.000000,5.000000,5.000000,4.000000,2011.000000,6.000000,5.372000e+05,NaN
75%,2.000000,1.000000,1.000000,7.000000,3.000000,1960.000000,2010.000000,1974.000000,2.000000,6.390000e+05,2.000000,1845.000000,1.000000,1.000000,1.000000,16.000000,2816.000000,2910.000000,1059.250000,20018.000000,38.935915,-76.988554,8302.000000,-76.988775,38.935976,1.000000,1.000000,6.000000,5.000000,6.000000,2015.000000,9.000000,8.385000e+05,NaN
max,4.000000,2.000000,4.000000,14.000000,6.000000,2018.000000,2019.000000,2018.000000,826.000000,1.374275e+08,15.000000,8756.000000,3.000000,4.000000,11.000000,117.000000,11036.000000,5621.000000,6116.000000,20392.000000,38.995435,-76.909758,11100.000000,-76.910511,38.993646,1.000000,1.000000,13.000000,7.000000,8.000000,2018.000000,12.000000,1.965214e+08,NaN

In [43]:
df2.to_csv("DC_Properties_Clean_Data.csv")

## 3. Correlation Analysis

In [44]:
df2.corr()

# strongest predictor of price2022 is still GBA (gross building area)
# second strongest predictor of price2022 is grade

,BATHRM,HF_BATHRM,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,EYB,STORIES,PRICE,SALE_NUM,GBA,BLDG_NUM,KITCHENS,FIREPLACES,USECODE,LANDAREA,CMPLX_NUM,LIVING_GBA,ZIPCODE,LATITUDE,LONGITUDE,CENSUS_TRACT,X,Y,AC1,QUALIFIED1,GRADE1,CNDTN1,WARD1,SALEYEAR,SALEMONTH,PRICE2022,zscorePRICE2022
BATHRM,1.000000,0.234042,0.378576,0.605719,0.592764,-0.046054,0.287492,0.257345,0.036813,-0.019646,0.085921,0.613273,-0.002975,0.404405,0.374891,0.083549,0.348594,0.219081,0.708708,-0.067434,0.135338,-0.157145,-0.177824,-0.157226,0.134572,0.152512,0.104244,0.193959,-0.047368,-0.067274,0.077868,0.009677,-0.020888,NaN
HF_BATHRM,0.234042,1.000000,-0.111886,0.393707,0.396007,-0.012684,0.173741,0.221585,0.031141,-0.020257,0.005959,0.254483,-0.007582,-0.099771,0.295429,-0.226090,0.324612,0.060639,0.481768,-0.018190,0.113514,-0.021798,-0.041258,-0.021798,0.113659,0.107415,0.023384,0.118750,0.003836,0.060697,-0.009727,0.005384,-0.020180,NaN
NUM_UNITS,0.378576,-0.111886,1.000000,0.394591,0.240396,-0.134328,-0.035297,-0.035950,0.019829,0.047432,0.013266,0.276329,0.004291,0.930683,0.020975,0.804799,-0.101627,NaN,NaN,-0.134897,-0.096130,-0.001767,0.026887,-0.001886,-0.096062,-0.050102,0.002516,-0.034246,-0.030036,-0.038044,-0.016374,0.006850,0.052422,NaN
ROOMS,0.605719,0.393707,0.394591,1.000000,0.845778,-0.257178,0.189187,0.152469,0.037747,-0.051912,-0.036895,0.636345,-0.003649,0.403390,0.372137,-0.175527,0.556015,0.052106,0.759684,-0.058785,0.140409,0.041169,-0.062344,0.040930,0.140062,-0.178160,-0.093550,0.145362,-0.015180,0.144178,-0.086447,0.004432,-0.051272,NaN
BEDRM,0.592764,0.396007,0.240396,0.845778,1.000000,-0.268124,0.253895,0.152702,0.035101,-0.055391,-0.026513,0.593382,-0.003455,0.264411,0.344666,-0.233183,0.551804,0.149086,0.723368,-0.076343,0.153985,0.075760,-0.044827,0.075596,0.153830,-0.165951,-0.083389,0.129666,-0.035336,0.151947,-0.058346,0.002317,-0.055077,NaN
AYB,-0.046054,-0.012684,-0.134328,-0.257178,-0.268124,1.000000,0.022761,0.669882,-0.008523,0.056934,0.016520,-0.042355,-0.010723,-0.142914,-0.189388,0.096830,-0.110774,0.201862,0.116802,0.175886,-0.128450,0.038476,0.122361,0.038844,-0.128330,0.279599,0.074867,0.025339,0.186256,0.064456,0.079504,-0.002646,0.056668,NaN
YR_RMDL,0.287492,0.173741,-0.035297,0.189187,0.253895,0.022761,1.000000,0.281752,-0.001797,0.034548,0.175269,-0.003135,0.001339,-0.011527,-0.000818,-0.118111,0.131190,0.546343,0.125432,-0.112418,0.050186,0.171769,0.082415,0.171782,0.049968,0.184547,0.228684,-0.055388,-0.109999,0.129034,0.284367,-0.008000,0.032050,NaN
EYB,0.257345,0.221585,-0.035950,0.152469,0.152702,0.669882,0.281752,1.000000,0.037478,0.046388,0.055085,0.280686,0.001333,-0.019449,0.064298,-0.051604,0.085301,0.246522,0.110995,0.044680,-0.095572,0.032620,0.061794,0.032842,-0.095515,0.225338,0.108046,0.254264,0.081386,0.095789,0.084574,-0.000159,0.045851,NaN
STORIES,0.036813,0.031141,0.019829,0.037747,0.035101,-0.008523,-0.001797,0.037478,1.000000,0.050126,0.012883,0.059537,0.000229,0.021916,0.028467,0.018518,-0.032264,NaN,NaN,-0.025141,-0.003821,-0.029183,-0.022920,-0.029178,-0.003784,0.010347,0.013273,0.030786,0.007905,-0.031032,0.006888,-0.006889,0.051194,NaN
PRICE,-0.019646,-0.020257,0.047432,-0.051912,-0.055391,0.056934,0.034548,0.046388,0.050126,1.000000,-0.016941,0.519942,0.002436,0.091072,0.004943,0.030941,-0.029331,-0.033153,-0.029209,0.001998,0.043947,-0.092889,-0.067191,-0.092892,0.044010,0.038077,-0.104669,0.344049,0.000293,-0.050508,0.008435,-0.027060,0.999406,NaN
SALE_NUM,0.085921,0.005959,0.013266,-0.036895,-0.026513,0.016520,0.175269,0.055085,0.012883,-0.016941,1.000000,-0.012462,-0.003673,0.032641,-0.012094,0.039021,-0.087963,0.026323,0.018832,-0.029475,-0.009968,-0.013214,-0.009568,-0.013171,-0.010089,0.137221,0.168029,-0.005338,-0.023702,-0.039689,0.591073,-0.001703,-0.022500,NaN
GBA,0.613273,0.254483,0.276329,0.636345,0.593382,-0.042355,-0.003135,0.280686,0.059537,0.519942,-0.012462,1.000000,-0.007642,0.284553,0.467277,0.221674,0.377433,NaN,NaN,-0.126310,0.210227,-0.428769,-0.372030,-0.429040,0.209812,0.152094,0.029893,0.271815,-0.048194,-0.344497,-0.015941,0.007326,0.563993,NaN
BLDG_NUM,-0.002975,-0.007582,0.004291,-0.003649,-0.003455,-0.010723,0.001339,0.001333,0.000229,0.002436,-0.003673,-0.007642,1.000000,-0.001434,-0.004161,0.015803,0.014737,NaN,NaN,-0.005079,-0.002910,-0.007512,-0.007702,-0.007587,-0.002882,-0.004776,-0.007399,0.002423,-0.009635,-0.004846,0.000930,-0.006884,0.002529,NaN
KITCHENS,0.404405,-0.099771,0.930683,0.403390,0.264411,-0.142914,-0.011527,-0.019449,0.021916,0.091072,0.032641,0.284553,-0.001434,1.000000,0.037098,0.760534,-0.098476,NaN,NaN,-0.141239,-0.086332,-0.021348,0.007123,-0.021502,-0.086210,-0.032771,0.024805,-0.019857,-0.031355,-0.055120,0.005862,0.007771,0.093348,NaN
FIREPLACES,0.374891,0.295429,0.020975,0.372137,0.344666,-0.189388,-0.000818,0.064298,0.028467,0.004943,-0.012094,0.467277,-0.004161,0.037098,1.000000,-0.073162,0.382551,-0.107659,0.232651,-0.056459,0.198570,-0.249941,-0.247838,-0.250228,0.198295,0.076339,0.006734,0.244246,-0.114422,-0.144827,-0.051420,0.006029,0.005259,NaN
USECODE,0.083549,-0.226090,0.804799,-0.175527,-0.233183,0.096830,-0.118111,-0.051604,0.018518,0.030941,0.039021,0.221674,0.015803,0.760534,-0.073162,1.000000,-0.337501,-0.027432,-0.035162,-0.006071,-0.095679,-0.134088,-0.030474,-0.134029,-0.095561,0.165322,0.073999,-0.044135,-0.055551,-0.196857,0.049686,0.000709,0.030196,NaN
LANDAREA,0.348594,0.324612,-0.101627,0.556015,0.551804,-0.110774,0.131190,0.085301,-0.032264,-0.029331,-0.087963,0.377433,0.014737,-0.098476,0.382551,-0.337501,1.000000,-0.013675,0.490593,0.067023,0.247113,0.020816,-0.061806,0.019759,0.246789,-0.121637,-0.128993,0.101269,-0.082902,0.178133,-0.112380,0.001261,-0.027885,NaN
CMPLX_NUM,0.219081,0.060639,NaN,0.052106,0.149086,0.201862,0.546343,0.246522,NaN,-0.033153,0.026323,NaN,NaN,NaN,-0.107659,-0.027432,-0.013675,1.000000,0.099875,-0.186281,0.010936,0.206477,0.154165,0.206477,0.010936,0.139202,0.094282,NaN,NaN,0.117679,0.287943,-0.020684,-0.036798,NaN
LIVING_GBA,0.708708,0.481768,NaN,0.759684,0.723368,0.116802,0.125432,0.110995,NaN,-0.029209,0.018832,NaN,NaN,NaN,0.232651,-0.035162,0.490593,0.099875,1.000000,-0.026817,0.065032,-0.037117,-0.063169,-0.037117,0.065032,0.080409,-0.056426,NaN,NaN,-0.004458,0.046977,0.003507,-0.030180,NaN
ZIPCODE,-0.067434,-0.018190,-0.134897,-0.058785,-0.076343,0.175886,-0.112418,0.044680,-0.025141,0.001998,-0.029475,-0.126310,-0.005079,-0.141239,-0.056459,-0.006071,0.067023,-0.186281,-0.026817,1.000000,-0.125258,0.020486,0.088456,0.020128,-0.124979,0.046299,-0.035725,-0.020432,0.063348,0.105121,-0.033969,0.001829,0.003086,NaN
LATITUDE,0.135338,0.113514,-0.096130,0.140409,0.153985,-0.128450,0.050186,-0.095572,-0.003821,0.043947,-0.009968,0.210227,-0.002910,-0.086332,0.198570,-0.095679,0.247113,0.010936,0.065032,-0.125258,1.000000,-0.495843,-0.560027,-0.496311,0.999925,-0.064856,-0.005024,-0.007713,-0.077185,-0.573036,-0.011215,0.002998,0.044426,NaN
LONGITUDE,-0.157145,-0.021798,-0.001767,0.041169,0.075760,0.038476,0.171769,0.032620,-0.029183,-0.092889,-0.013214,-0.428769,-0.007512,-0.021348,-0.249941,-0.134088,0.020816,0.206477,-0.037117,0.020486,-0.495843,1.000000,0.779526,0.999909,-0.496027,-0.127642,-0.060474,-0.225087,0.112527,0.728781,0.006540,-0.005283,-0.092685,NaN
CENSUS_TRACT,-0.177824,-0.041258,0.026887,-0.062344,-0.044827,0.122361,0.082415,0.061794,-0.022920,-0.067191,-0.009568,-0.372030,-0.007702,0.007123,-0.247838,-0.030474,-0.061806,0.154165,-0.063169,0.088456,-0.560027,0.779526,1.000000,0.779554,-0.560481,-0.015904,-0.032494,-0.197164,0.112305,0.641237,0.015542,0.002053,-0.068998,NaN
X,-0.157226,-0.021798,-0.001886,0.040930,0.075596,0.038844,0.171782,0.032842,-0.029178,-0.092892,-0.013171,-0.429040,-0.007587,-0.021502,-0.250228,-0.134029,0.019759,0.206477,-0.037117,0.020128,-0.496311,0.999909,0.779554,1.000000,-0.496194,-0.127234,-0.060242,-0.225241,0.112657,0.728903,0.006560,-0.005311,-0.092688,NaN
Y,0.134572,0.113659,-0.096062,0.140062,0.153830,-0.128330,0.049968,-0.095515,-0.003784,0.044010,-0.010089,0.209812,-0.002882,-0.086210,0.198295,-0.095561,0.246789,0.010936,0.065032,-0.124979,0.999925,-0.496027,-0.560481,-0.496194,1.000000,-0.065094,-0.004996,-0.008224,-0.076322,-0.573232,-0.011161,0.003078,0.044488,NaN
AC1,0.152512,0.107415,-0.050102,-0.178160,-0.165951,0.279599,0.184547,0.225338,0.010347,0.038077,0.137221,0.152094,-0.004776,-0.032771,0.076339,0.165322,-0.121637,0.139202,0.080409,0.046299,-0.064856,-0.127642,-0.015904,-0.127234,-0.065094,1.000000,0.242574,0.097612,-0.096342,-0.098583,0.163688,0.009960,0.036374,NaN
QUALIFIED1,0.104244,0.023384,0.002516,-0.093550,-0.083389,0.074867,0.228684,0.108046,0.013273,-0.104669,0.168029,0.029893,-0.007399,0.024805,0.006734,0.073999,-0.128993,0.094282,-0.056426,-0.035725,-0.005024,-0.060474,-0.032494,-0.060242,-0.004996,0.242574,1.000000,0.019742,-0.063686,-0.087291,0.056185,0.023262,-0.103798,NaN
GRADE1,0.193959,0.118750,-0.034246,0.145362,0.129666,0.025339,-0.055388,0.254264,0.030786,0.344049,-0.005338,0.271815,0.002423,-0.019857,0.244246,-0.044135,0.101269,NaN,NaN,-0.020432,-0.007713,-0.225087,-0.197164,-0.225241,-0.008224,0.097612,0.019742,1.000000,0.017241,-0.175700,-0.003292,-0.004617,0.369915,NaN
CNDTN1,-0.047368,0.003836,-0.030036,-0.015180,-0.035336,0.186256,-0.109999,0.081386,0.007905,0.000293,-0.023702,-0.048194,-0.009635,-0.031355,-0.114422,-0.055551,-0.082902,NaN,NaN,0.063348,-0.077185,0.112527,0.112305,0.112657,-0.076322,-0.096342,-0.063686,0.017241,1.000000,0.090347,-0.010488,-0.001343,-0.009248,NaN
WARD1,-0.067274,0.060697,-0.038044,0.144178,0.151947,0.064456,0.129034,0.095789,-0.031032,-0.050508,-0.039689,-0.344497,-0.004846,-0.055120,-0.144827,-0.196857,0.178133,0.117679,-0.004458,0.105121,-0.573036,0.728781,0.641237,0.728903,-0.573232,-0.098583,-0.087291,-0.175700,0.090347,1.000000,-0.032232,-0.008142,-0.048754,NaN
SALEYEAR,0.077868,-0.009727,-0.016374,-0.086447,-0.058346,0.079504,0.284367,0.084574,0.006888,0.008435,0.591073,-0.015941,0.000930,0.005862,-0.051420,0.049686,-0.112380,0.287943,0.046977,-0.033969,-0.011215,0.006540,0.015542,0.006560,-0.011161,0.163688,0.056185,-0.003292,-0.010488,-0.032232,1.000000,-0.052812,-0.000501,NaN
SALEMONTH,0.009677,0.005384,0.006850,0.004432,0.002317,-0.002646,-0.008000,-0.000159,-0.006889,-0.027060,-0.001703,0.007326,-0.006884,0.007771,0.006029,0.000709,0.001261,-0.020684,0.003507,0.001829,0.002998,-0.005283,0.002053,-0.005311,0.003078,0.009960,0.023262,-0.004617,-0.001343,-0.008142,-0.052812,1.000000,-0.028287,NaN
PRICE2022,-0.020888,-0.020180,0.052422,-0.051272,-0.055077,0.056668,0.032050,0.045851,0.051194,0.999406,-0.022500,0.563993,0.002529,0.093348,0.005259,0.030196,-0.027885,-0.036798,-0.030180,0.003086,0.044426,-0.092685,-0.068998,-0.092688,0.044488,0.036374,-0.103798,0.369915,-0.009248,-0.048754,-0.000501,-0.028287,1.000000,NaN
zscorePRICE2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
df2["PRICE2022"].groupby(df2["ZIPCODE"]).mean()

# highest average price in 20016 (Ward 3, Tenleytown, bordering Bethesda & Potomac River) and 20005 (Ward 2, downtown, near White House)

ZIPCODE
20001.0    6.788875e+05
20002.0    6.091201e+05
20003.0    7.908989e+05
20004.0    6.476102e+05
20005.0    3.512987e+06
20006.0    2.710646e+05
20007.0    1.138369e+06
20008.0    9.155210e+05
20009.0    8.028749e+05
20010.0    6.587785e+05
20011.0    5.539365e+05
20012.0    6.228504e+05
20015.0    1.020047e+06
20016.0    8.923347e+06
20017.0    5.237342e+05
20018.0    4.869903e+05
20019.0    3.052302e+05
20020.0    2.996090e+05
20024.0    5.033682e+05
20032.0    4.255896e+05
20036.0    5.174211e+05
20037.0    8.113871e+05
20052.0    9.756143e+05
20392.0    4.719150e+05
Name: PRICE2022, dtype: float64

In [46]:
df2["PRICE2022"].groupby(df2["QUADRANT"]).mean()

# highest prices (by far) in NW

QUADRANT
NE    5.135643e+05
NW    1.781129e+06
SE    4.885793e+05
SW    4.622400e+05
Name: PRICE2022, dtype: float64

In [47]:
df2["PRICE2022"].groupby(df2["WARD"]).mean()

# highest prices in Ward 3
# second highest prices in Ward 2

WARD
Ward 1    7.426935e+05
Ward 2    1.366160e+06
Ward 3    4.494685e+06
Ward 4    6.390974e+05
Ward 5    5.141149e+05
Ward 6    6.930105e+05
Ward 7    3.118282e+05
Ward 8    3.533040e+05
Name: PRICE2022, dtype: float64

In [48]:
df2["PRICE2022"].groupby(df2["STYLE"]).mean()

# highest prices for 4 Story
# second highest prices for 3.5 Story

STYLE
1 Story            5.135574e+05
1.5 Story Fin      6.183573e+05
1.5 Story Unfin    6.463905e+05
2 Story            6.418056e+05
2.5 Story Fin      1.186132e+06
2.5 Story Unfin    8.156528e+05
3 Story            1.126662e+06
3.5 Story Fin      1.417472e+06
3.5 Story Unfin    1.079655e+06
4 Story            1.639879e+06
4.5 Story Fin      8.746619e+05
4.5 Story Unfin    5.101820e+05
Bi-Level           9.645344e+05
Default            9.420921e+05
Outbuildings       8.026590e+04
Split Foyer        3.875380e+05
Split Level        8.344491e+05
Vacant             1.200000e+06
Name: PRICE2022, dtype: float64

In [49]:
df2["PRICE2022"].groupby(df2["SOURCE"]).mean()

# highest prices for condominiums

SOURCE
Condominium    1.969020e+06
Residential    7.178266e+05
Name: PRICE2022, dtype: float64

In [50]:
df2["PRICE2022"].groupby(df2["SALEYEAR"]).mean()

# highest prices in 2007
# second highest prices in 2015

SALEYEAR
1947.0             NaN
1949.0             NaN
1950.0             NaN
1955.0             NaN
1956.0             NaN
              ...
2014.0    7.493548e+05
2015.0    1.842766e+06
2016.0    7.580907e+05
2017.0    8.664133e+05
2018.0    7.633722e+05
Name: PRICE2022, Length: 65, dtype: float64

In [102]:
pd.crosstab(df2["WARD"], df2["SOURCE"], margins = True)

SOURCE  Condominium  Residential     All
WARD
Ward 1         9422         7639   17061
Ward 2        16143         5375   21518
Ward 3         9201        12284   21485
Ward 4         1844        19364   21208
Ward 5         3227        17422   20649
Ward 6         8141        15471   23612
Ward 7         2049        14580   16629
Ward 8         2177         8247   10424
All           52204       100382  152586

## 4. Sub-Analysis: Datasets by Ward

In [53]:
df2_ward1 = df2.copy()

In [56]:
df2_ward1["WARD_1"] = np.where(df2_ward1["WARD1"]==1, "Y", "N")
df2_ward1.drop(df2_ward1.loc[df2_ward1["WARD_1"]=="N"].index, inplace = True)
df2_ward1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17061 entries, 155 to 155791
Data columns (total 57 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   BATHRM              17061 non-null  int64
 1   HF_BATHRM           17061 non-null  int64
 2   HEAT                17061 non-null  object
 3   NUM_UNITS           7639 non-null   float64
 4   ROOMS               17061 non-null  int64
 5   BEDRM               17061 non-null  int64
 6   AYB                 17042 non-null  float64
 7   YR_RMDL             10397 non-null  float64
 8   EYB                 17061 non-null  int64
 9   STORIES             7639 non-null   float64
 10  SALEDATE            15213 non-null  object
 11  PRICE               12261 non-null  float64
 12  QUALIFIED           17061 non-null  object
 13  SALE_NUM            17061 non-null  int64
 14  GBA                 7639 non-null   float64
 15  BLDG_NUM            17061 non-null  int64
 16  STYLE               7639 non-null   object
 17  STRUCT              7639 non-null   object
 18  GRADE               7639 non-null   object
 19  CNDTN               7639 non-null   object
 20  EXTWALL             7639 non-null   object
 21  ROOF                7639 non-null   object
 22  INTWALL             7639 non-null   object
 23  KITCHENS            7639 non-null   float64
 24  FIREPLACES          17061 non-null  int64
 25  USECODE             17061 non-null  int64
 26  LANDAREA            17061 non-null  int64
 27  GIS_LAST_MOD_DTTM   17061 non-null  object
 28  SOURCE              17061 non-null  object
 29  CMPLX_NUM           9422 non-null   float64
 30  LIVING_GBA          9422 non-null   float64
 31  FULLADDRESS         7633 non-null   object
 32  CITY                7633 non-null   object
 33  STATE               7633 non-null   object
 34  ZIPCODE             17061 non-null  float64
 35  NATIONALGRID        7633 non-null   object
 36  LATITUDE            17061 non-null  float64
 37  LONGITUDE           17061 non-null  float64
 38  ASSESSMENT_NBHD     17061 non-null  object
 39  ASSESSMENT_SUBNBHD  17061 non-null  object
 40  CENSUS_TRACT        17061 non-null  float64
 41  CENSUS_BLOCK        7633 non-null   object
 42  WARD                17061 non-null  object
 43  SQUARE              17061 non-null  object
 44  X                   17061 non-null  float64
 45  Y                   17061 non-null  float64
 46  QUADRANT            17061 non-null  object
 47  AC1                 17061 non-null  int32
 48  QUALIFIED1          17061 non-null  int32
 49  GRADE1              7639 non-null   float64
 50  CNDTN1              7639 non-null   float64
 51  WARD1               17061 non-null  float64
 52  SALEYEAR            15213 non-null  float64
 53  SALEMONTH           15213 non-null  float64
 54  PRICE2022           12261 non-null  float64
 55  zscorePRICE2022     0 non-null      float64
 56  WARD_1              17061 non-null  object
dtypes: float64(22), int32(2), int64(10), object(23)
memory usage: 7.4+ MB

In [94]:
df2_ward1["PRICE"].groupby(df2_ward1["SOURCE"]).mean()

SOURCE
Condominium    560023.644878
Residential    580083.832314
Name: PRICE, dtype: float64

In [95]:
df2_ward1["PRICE"].mean()

567243.7417013295

In [57]:
df2_ward2 = df2.copy()

df2_ward2["WARD_2"] = np.where(df2_ward2["WARD1"]==2, "Y", "N")
df2_ward2.drop(df2_ward2.loc[df2_ward2["WARD_2"]=="N"].index, inplace = True)
df2_ward2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21518 entries, 0 to 158896
Data columns (total 57 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   BATHRM              21518 non-null  int64
 1   HF_BATHRM           21518 non-null  int64
 2   HEAT                21518 non-null  object
 3   NUM_UNITS           5375 non-null   float64
 4   ROOMS               21518 non-null  int64
 5   BEDRM               21518 non-null  int64
 6   AYB                 21514 non-null  float64
 7   YR_RMDL             13769 non-null  float64
 8   EYB                 21518 non-null  int64
 9   STORIES             5371 non-null   float64
 10  SALEDATE            19360 non-null  object
 11  PRICE               15166 non-null  float64
 12  QUALIFIED           21518 non-null  object
 13  SALE_NUM            21518 non-null  int64
 14  GBA                 5375 non-null   float64
 15  BLDG_NUM            21518 non-null  int64
 16  STYLE               5375 non-null   object
 17  STRUCT              5375 non-null   object
 18  GRADE               5375 non-null   object
 19  CNDTN               5375 non-null   object
 20  EXTWALL             5375 non-null   object
 21  ROOF                5375 non-null   object
 22  INTWALL             5375 non-null   object
 23  KITCHENS            5375 non-null   float64
 24  FIREPLACES          21518 non-null  int64
 25  USECODE             21518 non-null  int64
 26  LANDAREA            21518 non-null  int64
 27  GIS_LAST_MOD_DTTM   21518 non-null  object
 28  SOURCE              21518 non-null  object
 29  CMPLX_NUM           16143 non-null  float64
 30  LIVING_GBA          16143 non-null  float64
 31  FULLADDRESS         5356 non-null   object
 32  CITY                5359 non-null   object
 33  STATE               5359 non-null   object
 34  ZIPCODE             21518 non-null  float64
 35  NATIONALGRID        5359 non-null   object
 36  LATITUDE            21518 non-null  float64
 37  LONGITUDE           21518 non-null  float64
 38  ASSESSMENT_NBHD     21518 non-null  object
 39  ASSESSMENT_SUBNBHD  14465 non-null  object
 40  CENSUS_TRACT        21518 non-null  float64
 41  CENSUS_BLOCK        5359 non-null   object
 42  WARD                21518 non-null  object
 43  SQUARE              21518 non-null  object
 44  X                   21518 non-null  float64
 45  Y                   21518 non-null  float64
 46  QUADRANT            21518 non-null  object
 47  AC1                 21518 non-null  int32
 48  QUALIFIED1          21518 non-null  int32
 49  GRADE1              5375 non-null   float64
 50  CNDTN1              5375 non-null   float64
 51  WARD1               21518 non-null  float64
 52  SALEYEAR            19360 non-null  float64
 53  SALEMONTH           19360 non-null  float64
 54  PRICE2022           15166 non-null  float64
 55  zscorePRICE2022     0 non-null      float64
 56  WARD_2              21518 non-null  object
dtypes: float64(22), int32(2), int64(10), object(23)
memory usage: 9.4+ MB

In [96]:
df2_ward2["PRICE"].mean()

1046808.3434656468

In [97]:
df2_ward2["PRICE"].groupby(df2_ward2["SOURCE"]).mean()

SOURCE
Condominium    1.025412e+06
Residential    1.131422e+06
Name: PRICE, dtype: float64

In [67]:
df2_ward2["STYLE"].value_counts(normalize = True)

2 Story            0.560558
3 Story            0.364093
2.5 Story Fin      0.045209
4 Story            0.018605
3.5 Story Fin      0.007628
2.5 Story Unfin    0.001302
1 Story            0.000930
1.5 Story Fin      0.000744
Default            0.000558
1.5 Story Unfin    0.000186
4.5 Story Fin      0.000186
Name: STYLE, dtype: float64

In [69]:
df2_ward2["SOURCE"].value_counts(normalize = True)

Condominium    0.750209
Residential    0.249791
Name: SOURCE, dtype: float64

In [58]:
df2_ward3 = df2.copy()

df2_ward3["WARD_3"] = np.where(df2_ward3["WARD1"]==3, "Y", "N")
df2_ward3.drop(df2_ward3.loc[df2_ward3["WARD_3"]=="N"].index, inplace = True)
df2_ward3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21485 entries, 20369 to 154281
Data columns (total 57 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   BATHRM              21485 non-null  int64
 1   HF_BATHRM           21485 non-null  int64
 2   HEAT                21485 non-null  object
 3   NUM_UNITS           12284 non-null  float64
 4   ROOMS               21485 non-null  int64
 5   BEDRM               21485 non-null  int64
 6   AYB                 21467 non-null  float64
 7   YR_RMDL             12348 non-null  float64
 8   EYB                 21485 non-null  int64
 9   STORIES             12283 non-null  float64
 10  SALEDATE            18087 non-null  object
 11  PRICE               13167 non-null  float64
 12  QUALIFIED           21485 non-null  object
 13  SALE_NUM            21485 non-null  int64
 14  GBA                 12284 non-null  float64
 15  BLDG_NUM            21485 non-null  int64
 16  STYLE               12284 non-null  object
 17  STRUCT              12284 non-null  object
 18  GRADE               12284 non-null  object
 19  CNDTN               12284 non-null  object
 20  EXTWALL             12284 non-null  object
 21  ROOF                12284 non-null  object
 22  INTWALL             12284 non-null  object
 23  KITCHENS            12284 non-null  float64
 24  FIREPLACES          21485 non-null  int64
 25  USECODE             21485 non-null  int64
 26  LANDAREA            21485 non-null  int64
 27  GIS_LAST_MOD_DTTM   21485 non-null  object
 28  SOURCE              21485 non-null  object
 29  CMPLX_NUM           9201 non-null   float64
 30  LIVING_GBA          9201 non-null   float64
 31  FULLADDRESS         12199 non-null  object
 32  CITY                12199 non-null  object
 33  STATE               12199 non-null  object
 34  ZIPCODE             21485 non-null  float64
 35  NATIONALGRID        12199 non-null  object
 36  LATITUDE            21485 non-null  float64
 37  LONGITUDE           21485 non-null  float64
 38  ASSESSMENT_NBHD     21485 non-null  object
 39  ASSESSMENT_SUBNBHD  9823 non-null   object
 40  CENSUS_TRACT        21485 non-null  float64
 41  CENSUS_BLOCK        12199 non-null  object
 42  WARD                21485 non-null  object
 43  SQUARE              21485 non-null  object
 44  X                   21485 non-null  float64
 45  Y                   21485 non-null  float64
 46  QUADRANT            21485 non-null  object
 47  AC1                 21485 non-null  int32
 48  QUALIFIED1          21485 non-null  int32
 49  GRADE1              12284 non-null  float64
 50  CNDTN1              12284 non-null  float64
 51  WARD1               21485 non-null  float64
 52  SALEYEAR            18087 non-null  float64
 53  SALEMONTH           18087 non-null  float64
 54  PRICE2022           13167 non-null  float64
 55  zscorePRICE2022     0 non-null      float64
 56  WARD_3              21485 non-null  object
dtypes: float64(22), int32(2), int64(10), object(23)
memory usage: 9.3+ MB

In [98]:
df2_ward3["PRICE"].groupby(df2_ward3["SOURCE"]).mean()

SOURCE
Condominium    5.536184e+06
Residential    8.956429e+05
Name: PRICE, dtype: float64

In [99]:
df2_ward3["PRICE"].mean()

3167453.5052024

In [68]:
df2_ward3["STYLE"].value_counts(normalize = True)

2 Story            0.652963
2.5 Story Fin      0.185607
3 Story            0.066998
1.5 Story Fin      0.036470
1 Story            0.032563
2.5 Story Unfin    0.012211
Split Level        0.007245
3.5 Story Fin      0.002605
4 Story            0.001710
1.5 Story Unfin    0.000895
Default            0.000488
Bi-Level           0.000163
Split Foyer        0.000081
Name: STYLE, dtype: float64

In [70]:
df2_ward3["SOURCE"].value_counts(normalize = True)

Residential    0.571748
Condominium    0.428252
Name: SOURCE, dtype: float64

In [88]:
df2_ward3["PRICE2022"].groupby(df2_ward3["AYB"]).mean()

AYB
1800.0             NaN
1818.0    1.309514e+06
1850.0    7.765800e+05
1852.0             NaN
1859.0             NaN
1860.0             NaN
1862.0    1.023400e+06
1870.0    1.469850e+06
1875.0    8.412500e+05
1880.0    1.152307e+06
1887.0             NaN
1890.0    1.246721e+06
1891.0    4.895000e+05
1892.0             NaN
1894.0             NaN
1895.0    1.060124e+06
1896.0             NaN
1897.0             NaN
1898.0    8.970000e+05
1899.0    9.849000e+05
1900.0    7.758511e+05
1901.0    1.689100e+06
1902.0    1.497860e+06
1903.0    9.877220e+05
1904.0             NaN
1905.0    1.215403e+06
1906.0    1.309551e+06
1907.0    1.168267e+06
1908.0    1.370063e+06
1909.0    1.754688e+06
1910.0    1.537715e+06
1911.0    1.356835e+06
1912.0    1.325464e+06
1913.0    1.438018e+06
1914.0    1.974920e+06
1915.0    1.361981e+06
1916.0    1.481988e+06
1917.0    1.178417e+06
1918.0    1.036695e+06
1919.0    9.794259e+05
1920.0    1.017371e+06
1921.0    1.241272e+06
1922.0    1.288882e+06
1923.0    9.415060e+05
1924.0    1.084232e+06
1925.0    1.190130e+06
1926.0    1.074993e+06
1927.0    1.049898e+06
1928.0    1.185914e+06
1929.0    1.001765e+06
1930.0    6.656358e+05
1931.0    1.118870e+06
1932.0    1.152080e+06
1933.0    1.072286e+06
1934.0    1.015374e+06
1935.0    1.122256e+06
1936.0    1.138779e+06
1937.0    8.910993e+05
1938.0    8.346078e+05
1939.0    1.048144e+06
1940.0    1.070064e+06
1941.0    1.205887e+06
1942.0    5.783391e+05
1943.0    1.173240e+06
1944.0    5.559171e+05
1945.0    1.244939e+06
1946.0    1.251218e+06
1947.0    1.044380e+06
1948.0    5.843769e+05
1949.0    1.261141e+06
1950.0    7.040138e+05
1951.0    5.329266e+05
1952.0    1.006005e+06
1953.0    1.085463e+06
1954.0    6.579859e+05
1955.0    6.625368e+05
1956.0    6.273652e+05
1957.0    5.140338e+05
1958.0    1.357465e+06
1959.0    6.136657e+05
1960.0    4.229851e+05
1961.0    1.380148e+06
1962.0    1.471072e+06
1963.0    4.844561e+05
1964.0    3.687842e+05
1965.0    7.155717e+05
1966.0    7.665478e+05
1967.0    5.878727e+05
1968.0    6.603011e+05
1969.0    1.400672e+06
1970.0    1.298346e+06
1971.0    1.013787e+06
1972.0    1.213242e+06
1973.0    1.052127e+06
1974.0    1.370283e+06
1975.0    1.308227e+06
1976.0    1.338881e+06
1977.0    8.875257e+05
1978.0    1.227623e+06
1979.0    8.388804e+05
1980.0    8.643443e+05
1981.0    1.215417e+06
1982.0    1.253688e+06
1983.0    1.348399e+06
1984.0    7.787221e+05
1985.0    1.089642e+08
1986.0    1.806579e+06
1987.0    1.704198e+06
1988.0    6.254014e+05
1989.0    7.514236e+07
1990.0    2.024318e+06
1991.0    1.153499e+06
1992.0    1.436802e+06
1993.0    1.676527e+06
1994.0    1.396586e+06
1995.0    1.833270e+06
1996.0    1.899687e+06
1997.0    1.690326e+06
1998.0    1.673063e+06
1999.0    1.151434e+06
2000.0    1.465482e+06
2001.0    2.056336e+06
2002.0    8.465811e+05
2003.0    2.475695e+06
2004.0    2.047150e+06
2005.0    1.334745e+06
2006.0    1.304372e+06
2007.0    1.421530e+06
2008.0    3.258050e+06
2009.0    2.844900e+06
2010.0    6.664287e+05
2011.0    1.177387e+06
2012.0    1.634375e+06
2013.0    1.343442e+06
2014.0    1.902788e+06
2015.0    1.198473e+06
2016.0    1.036942e+06
2017.0    1.616000e+06
2018.0    2.303950e+06
Name: PRICE2022, dtype: float64

In [84]:
pd.crosstab(df2_ward3["AYB"], df2_ward3["SOURCE"], normalize = True, margins = True)

SOURCE  Condominium  Residential       All
AYB
1800.0     0.000000     0.000047  0.000047
1818.0     0.000000     0.000047  0.000047
1850.0     0.000000     0.000047  0.000047
1852.0     0.000000     0.000093  0.000093
1859.0     0.000000     0.000047  0.000047
1860.0     0.000000     0.000047  0.000047
1862.0     0.000000     0.000047  0.000047
1870.0     0.000000     0.000047  0.000047
1875.0     0.000000     0.000047  0.000047
1880.0     0.000000     0.000140  0.000140
1887.0     0.000000     0.000093  0.000093
1890.0     0.000000     0.000652  0.000652
1891.0     0.000000     0.000093  0.000093
1892.0     0.000000     0.000047  0.000047
1894.0     0.000000     0.000047  0.000047
1895.0     0.000000     0.000326  0.000326
1896.0     0.000000     0.000047  0.000047
1897.0     0.000000     0.000093  0.000093
1898.0     0.000000     0.000140  0.000140
1899.0     0.000000     0.000140  0.000140
1900.0     0.004332     0.001956  0.006289
1901.0     0.000000     0.000093  0.000093
1902.0     0.000000     0.000186  0.000186
1903.0     0.000047     0.000326  0.000373
1904.0     0.000000     0.000093  0.000093
1905.0     0.000047     0.001071  0.001118
1906.0     0.000047     0.000792  0.000838
1907.0     0.000000     0.000745  0.000745
1908.0     0.000186     0.001724  0.001910
1909.0     0.000000     0.002748  0.002748
1910.0     0.000419     0.007081  0.007500
1911.0     0.000000     0.004379  0.004379
1912.0     0.000000     0.006009  0.006009
1913.0     0.000000     0.003354  0.003354
1914.0     0.000000     0.002469  0.002469
1915.0     0.000000     0.003028  0.003028
1916.0     0.000000     0.004705  0.004705
1917.0     0.000000     0.004239  0.004239
1918.0     0.000000     0.003168  0.003168
1919.0     0.001444     0.002422  0.003866
1920.0     0.003074     0.009503  0.012577
1921.0     0.000000     0.006382  0.006382
1922.0     0.000140     0.009876  0.010015
1923.0     0.011180     0.020031  0.031211
1924.0     0.004099     0.013416  0.017515
1925.0     0.000000     0.031677  0.031677
1926.0     0.001584     0.024969  0.026552
1927.0     0.002143     0.025667  0.027810
1928.0     0.006661     0.018494  0.025155
1929.0     0.007966     0.015652  0.023618
1930.0     0.015885     0.014068  0.029953
1931.0     0.000000     0.009503  0.009503
1932.0     0.000326     0.010528  0.010854
1933.0     0.000000     0.007826  0.007826
1934.0     0.001397     0.006149  0.007546
1935.0     0.000186     0.013230  0.013416
1936.0     0.003121     0.018680  0.021801
1937.0     0.007407     0.019798  0.027205
1938.0     0.007081     0.018913  0.025993
1939.0     0.001397     0.026692  0.028090
1940.0     0.002143     0.021009  0.023152
1941.0     0.001118     0.020729  0.021847
1942.0     0.035962     0.007220  0.043183
1943.0     0.000000     0.001444  0.001444
1944.0     0.006661     0.000699  0.007360
1945.0     0.000000     0.000932  0.000932
1946.0     0.000000     0.002189  0.002189
1947.0     0.000000     0.005776  0.005776
1948.0     0.012205     0.005683  0.017888
1949.0     0.000000     0.004658  0.004658
1950.0     0.007593     0.008292  0.015885
1951.0     0.016071     0.005217  0.021288
1952.0     0.001817     0.006987  0.008804
1953.0     0.000000     0.007407  0.007407
1954.0     0.005916     0.004006  0.009922
1955.0     0.007593     0.006894  0.014487
1956.0     0.011786     0.004891  0.016677
1957.0     0.016164     0.003727  0.019891
1958.0     0.000000     0.002422  0.002422
1959.0     0.009270     0.003540  0.012810
1960.0     0.044673     0.002562  0.047235
1961.0     0.000000     0.001071  0.001071
1962.0     0.000000     0.001677  0.001677
1963.0     0.008991     0.001677  0.010668
1964.0     0.026832     0.001724  0.028555
1965.0     0.003960     0.002143  0.006102
1966.0     0.016304     0.000838  0.017143
1967.0     0.002655     0.000885  0.003540
1968.0     0.004984     0.001304  0.006289
1969.0     0.000000     0.000978  0.000978
1970.0     0.000000     0.001258  0.001258
1971.0     0.005683     0.000466  0.006149
1972.0     0.000000     0.000652  0.000652
1973.0     0.000000     0.000699  0.000699
1974.0     0.000047     0.000606  0.000652
1975.0     0.000000     0.000932  0.000932
1976.0     0.000000     0.001677  0.001677
1977.0     0.004565     0.001071  0.005637
1978.0     0.000000     0.003168  0.003168
1979.0     0.008804     0.008432  0.017236
1980.0     0.009317     0.002609  0.011925
1981.0     0.000093     0.003214  0.003307
1982.0     0.000838     0.000792  0.001630
1983.0     0.000000     0.001165  0.001165
1984.0     0.003680     0.002748  0.006428
1985.0     0.016770     0.002935  0.019705
1986.0     0.000000     0.001444  0.001444
1987.0     0.000000     0.002469  0.002469
1988.0     0.009643     0.001817  0.011459
1989.0     0.013136     0.001770  0.014907
1990.0     0.000233     0.000606  0.000838
1991.0     0.000279     0.000373  0.000652
1992.0     0.000000     0.000652  0.000652
1993.0     0.000000     0.000419  0.000419
1994.0     0.000000     0.000792  0.000792
1995.0     0.000000     0.000559  0.000559
1996.0     0.000000     0.001910  0.001910
1997.0     0.000000     0.000932  0.000932
1998.0     0.000000     0.000978  0.000978
1999.0     0.001351     0.002655  0.004006
2000.0     0.000000     0.001397  0.001397
2001.0     0.000000     0.000559  0.000559
2002.0     0.009223     0.001165  0.010388
2003.0     0.000000     0.000652  0.000652
2004.0     0.000000     0.000466  0.000466
2005.0     0.009503     0.000466  0.009969
2006.0     0.002096     0.000140  0.002236
2007.0     0.004938     0.000279  0.005217
2008.0     0.000000     0.000186  0.000186
2009.0     0.000000     0.000093  0.000093
2010.0     0.002283     0.000233  0.002515
2011.0     0.001071     0.000373  0.001444
2012.0     0.000000     0.001211  0.001211
2013.0     0.000419     0.000932  0.001351
2014.0     0.000279     0.000559  0.000838
2015.0     0.001025     0.000326  0.001351
2016.0     0.000373     0.000000  0.000373
2017.0     0.000000     0.000093  0.000093
2018.0     0.000000     0.000047  0.000047
All        0.428518     0.571482  1.000000

In [89]:
df2_ward3.to_csv("df2_ward3.csv")

In [60]:
df2_ward4 = df2.copy()

df2_ward4["WARD_4"] = np.where(df2_ward4["WARD1"]==4, "Y", "N")
df2_ward4.drop(df2_ward4.loc[df2_ward4["WARD_4"]=="N"].index, inplace = True)
df2_ward4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21208 entries, 31997 to 146292
Data columns (total 57 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   BATHRM              21208 non-null  int64
 1   HF_BATHRM           21208 non-null  int64
 2   HEAT                21208 non-null  object
 3   NUM_UNITS           19364 non-null  float64
 4   ROOMS               21208 non-null  int64
 5   BEDRM               21208 non-null  int64
 6   AYB                 21157 non-null  float64
 7   YR_RMDL             8782 non-null   float64
 8   EYB                 21208 non-null  int64
 9   STORIES             19353 non-null  float64
 10  SALEDATE            16704 non-null  object
 11  PRICE               11492 non-null  float64
 12  QUALIFIED           21208 non-null  object
 13  SALE_NUM            21208 non-null  int64
 14  GBA                 19364 non-null  float64
 15  BLDG_NUM            21208 non-null  int64
 16  STYLE               19364 non-null  object
 17  STRUCT              19364 non-null  object
 18  GRADE               19364 non-null  object
 19  CNDTN               19364 non-null  object
 20  EXTWALL             19364 non-null  object
 21  ROOF                19364 non-null  object
 22  INTWALL             19364 non-null  object
 23  KITCHENS            19364 non-null  float64
 24  FIREPLACES          21208 non-null  int64
 25  USECODE             21208 non-null  int64
 26  LANDAREA            21208 non-null  int64
 27  GIS_LAST_MOD_DTTM   21208 non-null  object
 28  SOURCE              21208 non-null  object
 29  CMPLX_NUM           1844 non-null   float64
 30  LIVING_GBA          1844 non-null   float64
 31  FULLADDRESS         19290 non-null  object
 32  CITY                19290 non-null  object
 33  STATE               19290 non-null  object
 34  ZIPCODE             21208 non-null  float64
 35  NATIONALGRID        19290 non-null  object
 36  LATITUDE            21208 non-null  float64
 37  LONGITUDE           21208 non-null  float64
 38  ASSESSMENT_NBHD     21208 non-null  object
 39  ASSESSMENT_SUBNBHD  16011 non-null  object
 40  CENSUS_TRACT        21208 non-null  float64
 41  CENSUS_BLOCK        19290 non-null  object
 42  WARD                21208 non-null  object
 43  SQUARE              21208 non-null  object
 44  X                   21143 non-null  float64
 45  Y                   21143 non-null  float64
 46  QUADRANT            21143 non-null  object
 47  AC1                 21208 non-null  int32
 48  QUALIFIED1          21208 non-null  int32
 49  GRADE1              19364 non-null  float64
 50  CNDTN1              19364 non-null  float64
 51  WARD1               21208 non-null  float64
 52  SALEYEAR            16704 non-null  float64
 53  SALEMONTH           16704 non-null  float64
 54  PRICE2022           11492 non-null  float64
 55  zscorePRICE2022     0 non-null      float64
 56  WARD_4              21208 non-null  object
dtypes: float64(22), int32(2), int64(10), object(23)
memory usage: 9.2+ MB

In [100]:
df2_ward4["PRICE"].groupby(df2_ward4["SOURCE"]).mean()

SOURCE
Condominium    381386.527584
Residential    488972.821684
Name: PRICE, dtype: float64

In [101]:
df2_ward4["PRICE"].mean()

474209.1960494257

In [61]:
df2_ward5 = df2.copy()

df2_ward5["WARD_5"] = np.where(df2_ward5["WARD1"]==5, "Y", "N")
df2_ward5.drop(df2_ward5.loc[df2_ward5["WARD_5"]=="N"].index, inplace = True)
df2_ward5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20649 entries, 1709 to 155301
Data columns (total 57 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   BATHRM              20649 non-null  int64
 1   HF_BATHRM           20649 non-null  int64
 2   HEAT                20649 non-null  object
 3   NUM_UNITS           17422 non-null  float64
 4   ROOMS               20649 non-null  int64
 5   BEDRM               20649 non-null  int64
 6   AYB                 20565 non-null  float64
 7   YR_RMDL             8500 non-null   float64
 8   EYB                 20649 non-null  int64
 9   STORIES             17413 non-null  float64
 10  SALEDATE            16167 non-null  object
 11  PRICE               11664 non-null  float64
 12  QUALIFIED           20649 non-null  object
 13  SALE_NUM            20649 non-null  int64
 14  GBA                 17422 non-null  float64
 15  BLDG_NUM            20649 non-null  int64
 16  STYLE               17422 non-null  object
 17  STRUCT              17422 non-null  object
 18  GRADE               17422 non-null  object
 19  CNDTN               17422 non-null  object
 20  EXTWALL             17422 non-null  object
 21  ROOF                17422 non-null  object
 22  INTWALL             17422 non-null  object
 23  KITCHENS            17422 non-null  float64
 24  FIREPLACES          20649 non-null  int64
 25  USECODE             20649 non-null  int64
 26  LANDAREA            20649 non-null  int64
 27  GIS_LAST_MOD_DTTM   20649 non-null  object
 28  SOURCE              20649 non-null  object
 29  CMPLX_NUM           3227 non-null   float64
 30  LIVING_GBA          3227 non-null   float64
 31  FULLADDRESS         17354 non-null  object
 32  CITY                17354 non-null  object
 33  STATE               17354 non-null  object
 34  ZIPCODE             20649 non-null  float64
 35  NATIONALGRID        17354 non-null  object
 36  LATITUDE            20649 non-null  float64
 37  LONGITUDE           20649 non-null  float64
 38  ASSESSMENT_NBHD     20649 non-null  object
 39  ASSESSMENT_SUBNBHD  16993 non-null  object
 40  CENSUS_TRACT        20649 non-null  float64
 41  CENSUS_BLOCK        17354 non-null  object
 42  WARD                20649 non-null  object
 43  SQUARE              20649 non-null  object
 44  X                   20573 non-null  float64
 45  Y                   20573 non-null  float64
 46  QUADRANT            20573 non-null  object
 47  AC1                 20649 non-null  int32
 48  QUALIFIED1          20649 non-null  int32
 49  GRADE1              17422 non-null  float64
 50  CNDTN1              17422 non-null  float64
 51  WARD1               20649 non-null  float64
 52  SALEYEAR            16167 non-null  float64
 53  SALEMONTH           16167 non-null  float64
 54  PRICE2022           11664 non-null  float64
 55  zscorePRICE2022     0 non-null      float64
 56  WARD_5              20649 non-null  object
dtypes: float64(22), int32(2), int64(10), object(23)
memory usage: 9.0+ MB

In [106]:
df2_ward5["PRICE2022"].groupby(df2_ward5["SOURCE"]).mean()

SOURCE
Condominium    438503.648348
Residential    534931.526154
Name: PRICE2022, dtype: float64

In [107]:
df2_ward5["PRICE2022"].mean()

514114.8769495886

In [62]:
df2_ward6 = df2.copy()

df2_ward6["WARD_6"] = np.where(df2_ward6["WARD1"]==6, "Y", "N")
df2_ward6.drop(df2_ward6.loc[df2_ward6["WARD_6"]=="N"].index, inplace = True)
df2_ward6.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23612 entries, 994 to 158956
Data columns (total 57 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   BATHRM              23612 non-null  int64
 1   HF_BATHRM           23612 non-null  int64
 2   HEAT                23612 non-null  object
 3   NUM_UNITS           15471 non-null  float64
 4   ROOMS               23612 non-null  int64
 5   BEDRM               23612 non-null  int64
 6   AYB                 23583 non-null  float64
 7   YR_RMDL             13821 non-null  float64
 8   EYB                 23612 non-null  int64
 9   STORIES             15463 non-null  float64
 10  SALEDATE            20636 non-null  object
 11  PRICE               16056 non-null  float64
 12  QUALIFIED           23612 non-null  object
 13  SALE_NUM            23612 non-null  int64
 14  GBA                 15471 non-null  float64
 15  BLDG_NUM            23612 non-null  int64
 16  STYLE               15471 non-null  object
 17  STRUCT              15471 non-null  object
 18  GRADE               15471 non-null  object
 19  CNDTN               15471 non-null  object
 20  EXTWALL             15471 non-null  object
 21  ROOF                15471 non-null  object
 22  INTWALL             15471 non-null  object
 23  KITCHENS            15471 non-null  float64
 24  FIREPLACES          23612 non-null  int64
 25  USECODE             23612 non-null  int64
 26  LANDAREA            23612 non-null  int64
 27  GIS_LAST_MOD_DTTM   23612 non-null  object
 28  SOURCE              23612 non-null  object
 29  CMPLX_NUM           8141 non-null   float64
 30  LIVING_GBA          8141 non-null   float64
 31  FULLADDRESS         15444 non-null  object
 32  CITY                15445 non-null  object
 33  STATE               15445 non-null  object
 34  ZIPCODE             23612 non-null  float64
 35  NATIONALGRID        15445 non-null  object
 36  LATITUDE            23612 non-null  float64
 37  LONGITUDE           23612 non-null  float64
 38  ASSESSMENT_NBHD     23612 non-null  object
 39  ASSESSMENT_SUBNBHD  20784 non-null  object
 40  CENSUS_TRACT        23612 non-null  float64
 41  CENSUS_BLOCK        15445 non-null  object
 42  WARD                23612 non-null  object
 43  SQUARE              23612 non-null  object
 44  X                   23612 non-null  float64
 45  Y                   23612 non-null  float64
 46  QUADRANT            23612 non-null  object
 47  AC1                 23612 non-null  int32
 48  QUALIFIED1          23612 non-null  int32
 49  GRADE1              15471 non-null  float64
 50  CNDTN1              15471 non-null  float64
 51  WARD1               23612 non-null  float64
 52  SALEYEAR            20636 non-null  float64
 53  SALEMONTH           20636 non-null  float64
 54  PRICE2022           16056 non-null  float64
 55  zscorePRICE2022     0 non-null      float64
 56  WARD_6              23612 non-null  object
dtypes: float64(22), int32(2), int64(10), object(23)
memory usage: 10.3+ MB

In [63]:
df2_ward7 = df2.copy()

df2_ward7["WARD_7"] = np.where(df2_ward7["WARD1"]==7, "Y", "N")
df2_ward7.drop(df2_ward7.loc[df2_ward7["WARD_7"]=="N"].index, inplace = True)
df2_ward7.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16629 entries, 80108 to 130564
Data columns (total 57 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   BATHRM              16629 non-null  int64
 1   HF_BATHRM           16629 non-null  int64
 2   HEAT                16629 non-null  object
 3   NUM_UNITS           14580 non-null  float64
 4   ROOMS               16629 non-null  int64
 5   BEDRM               16629 non-null  int64
 6   AYB                 16598 non-null  float64
 7   YR_RMDL             6343 non-null   float64
 8   EYB                 16629 non-null  int64
 9   STORIES             14575 non-null  float64
 10  SALEDATE            12530 non-null  object
 11  PRICE               8929 non-null   float64
 12  QUALIFIED           16629 non-null  object
 13  SALE_NUM            16629 non-null  int64
 14  GBA                 14580 non-null  float64
 15  BLDG_NUM            16629 non-null  int64
 16  STYLE               14580 non-null  object
 17  STRUCT              14580 non-null  object
 18  GRADE               14580 non-null  object
 19  CNDTN               14580 non-null  object
 20  EXTWALL             14580 non-null  object
 21  ROOF                14580 non-null  object
 22  INTWALL             14580 non-null  object
 23  KITCHENS            14580 non-null  float64
 24  FIREPLACES          16629 non-null  int64
 25  USECODE             16629 non-null  int64
 26  LANDAREA            16629 non-null  int64
 27  GIS_LAST_MOD_DTTM   16629 non-null  object
 28  SOURCE              16629 non-null  object
 29  CMPLX_NUM           2049 non-null   float64
 30  LIVING_GBA          2049 non-null   float64
 31  FULLADDRESS         14298 non-null  object
 32  CITY                14298 non-null  object
 33  STATE               14298 non-null  object
 34  ZIPCODE             16629 non-null  float64
 35  NATIONALGRID        14298 non-null  object
 36  LATITUDE            16629 non-null  float64
 37  LONGITUDE           16629 non-null  float64
 38  ASSESSMENT_NBHD     16629 non-null  object
 39  ASSESSMENT_SUBNBHD  16629 non-null  object
 40  CENSUS_TRACT        16629 non-null  float64
 41  CENSUS_BLOCK        14298 non-null  object
 42  WARD                16629 non-null  object
 43  SQUARE              16629 non-null  object
 44  X                   16593 non-null  float64
 45  Y                   16593 non-null  float64
 46  QUADRANT            16593 non-null  object
 47  AC1                 16629 non-null  int32
 48  QUALIFIED1          16629 non-null  int32
 49  GRADE1              14580 non-null  float64
 50  CNDTN1              14580 non-null  float64
 51  WARD1               16629 non-null  float64
 52  SALEYEAR            12530 non-null  float64
 53  SALEMONTH           12530 non-null  float64
 54  PRICE2022           8928 non-null   float64
 55  zscorePRICE2022     0 non-null      float64
 56  WARD_7              16629 non-null  object
dtypes: float64(22), int32(2), int64(10), object(23)
memory usage: 7.2+ MB

In [103]:
df2_ward7["PRICE2022"].mean()

311828.1716420252

In [105]:
df2_ward7["PRICE2022"].groupby(df2_ward7["SOURCE"]).mean()

SOURCE
Condominium    300715.438636
Residential    313921.146113
Name: PRICE2022, dtype: float64

In [81]:
df2_ward7["SOURCE"].value_counts(normalize = True)

Residential    0.876782
Condominium    0.123218
Name: SOURCE, dtype: float64

In [82]:
df2_ward7["STYLE"].value_counts(normalize = True)

2 Story            0.788272
1 Story            0.127846
1.5 Story Fin      0.033059
3 Story            0.015844
Split Foyer        0.013717
2.5 Story Fin      0.009671
2.5 Story Unfin    0.004458
Split Level        0.004252
1.5 Story Unfin    0.001440
Default            0.000892
Bi-Level           0.000343
3.5 Story Fin      0.000069
4.5 Story Fin      0.000069
4 Story            0.000069
Name: STYLE, dtype: float64

In [65]:
df2_ward8 = df2.copy()

df2_ward8["WARD_8"] = np.where(df2_ward8["WARD1"]==8, "Y", "N")
df2_ward8.drop(df2_ward8.loc[df2_ward8["WARD_8"]=="N"].index, inplace = True)
df2_ward8.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10424 entries, 92936 to 130363
Data columns (total 57 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   BATHRM              10424 non-null  int64
 1   HF_BATHRM           10424 non-null  int64
 2   HEAT                10424 non-null  object
 3   NUM_UNITS           8247 non-null   float64
 4   ROOMS               10424 non-null  int64
 5   BEDRM               10424 non-null  int64
 6   AYB                 10417 non-null  float64
 7   YR_RMDL             3472 non-null   float64
 8   EYB                 10424 non-null  int64
 9   STORIES             8247 non-null   float64
 10  SALEDATE            8291 non-null   object
 11  PRICE               5971 non-null   float64
 12  QUALIFIED           10424 non-null  object
 13  SALE_NUM            10424 non-null  int64
 14  GBA                 8247 non-null   float64
 15  BLDG_NUM            10424 non-null  int64
 16  STYLE               8247 non-null   object
 17  STRUCT              8247 non-null   object
 18  GRADE               8247 non-null   object
 19  CNDTN               8247 non-null   object
 20  EXTWALL             8247 non-null   object
 21  ROOF                8247 non-null   object
 22  INTWALL             8247 non-null   object
 23  KITCHENS            8246 non-null   float64
 24  FIREPLACES          10424 non-null  int64
 25  USECODE             10424 non-null  int64
 26  LANDAREA            10424 non-null  int64
 27  GIS_LAST_MOD_DTTM   10424 non-null  object
 28  SOURCE              10424 non-null  object
 29  CMPLX_NUM           2177 non-null   float64
 30  LIVING_GBA          2177 non-null   float64
 31  FULLADDRESS         8223 non-null   object
 32  CITY                8223 non-null   object
 33  STATE               8223 non-null   object
 34  ZIPCODE             10424 non-null  float64
 35  NATIONALGRID        8223 non-null   object
 36  LATITUDE            10424 non-null  float64
 37  LONGITUDE           10424 non-null  float64
 38  ASSESSMENT_NBHD     10424 non-null  object
 39  ASSESSMENT_SUBNBHD  9690 non-null   object
 40  CENSUS_TRACT        10424 non-null  float64
 41  CENSUS_BLOCK        8223 non-null   object
 42  WARD                10424 non-null  object
 43  SQUARE              10424 non-null  object
 44  X                   10399 non-null  float64
 45  Y                   10399 non-null  float64
 46  QUADRANT            10399 non-null  object
 47  AC1                 10424 non-null  int32
 48  QUALIFIED1          10424 non-null  int32
 49  GRADE1              8247 non-null   float64
 50  CNDTN1              8247 non-null   float64
 51  WARD1               10424 non-null  float64
 52  SALEYEAR            8291 non-null   float64
 53  SALEMONTH           8291 non-null   float64
 54  PRICE2022           5971 non-null   float64
 55  zscorePRICE2022     0 non-null      float64
 56  WARD_8              10424 non-null  object
dtypes: float64(22), int32(2), int64(10), object(23)
memory usage: 4.5+ MB